[2020-06-02 15:20] derberg commented on #331
@Cingulara you might be interested with this -> https://github.com/asyncapi//markdown-template/#supported-parameters
Markdown template now supports param that you can use to change the name of output markdown file -> https://github.com/asyncapi/markdown-template/blob/master/hooks/output-filename.js

Same could be done in html-template for the `index.html` file

[2020-06-03 10:22] derberg commented on #216
I research a lot and haven't found any good competition against quicktype that we could use in node

[2020-06-04 10:09] derberg commented on #216
I research a lot and haven't found any good competition against quicktype that we could use in node. But the learning curve is steep as hell as there are basically no docs and code base is TS. This comment summarizes my concerns https://github.com/quicktype/quicktype/issues/1293#issuecomment-523263652

But I do not want to give up and will try to dig into more details and create a sample project t

[2020-06-04 12:48] derberg commented on #216
quicktype function options:
- https://github.com/quicktype/quicktype/blob/master/src/quicktype-core/Run.ts#L119-L169
- https://github.com/quicktype/quicktype/blob/master/src/quicktype-core/Run.ts#L36-L42

quicktype returns the following type: https://github.com/quicktype/quicktype/blob/master/src/quicktype-core/Source.ts#L158

😅

[2020-06-04 12:55] derberg commented on #216
I made basic stuff here https://github.com/derberg/asyncapi-quicktype

By default, from such a schema from streetlights example:
[code]

I got the following Java:
[code]

Now I will explore how this output can be modified

[2020-06-04 16:26] derberg commented on #216
I can confirm using quicktype you have a control over the generated code.
Example here: https://github.com/derberg/asyncapi-quicktype/blob/master/src/customJava.js#L17

Output with my custom annotation:

[code]

[2020-06-04 20:40] derberg commented on #216
My view is that we should not add it to the generator right before major release. Why:
- feature is too big and complex. In Poland we say that such features "musza sie wygrzac", which means they need time to worm up. It is super hard to say if whatever API we will agree up on now will really stay like this
- we can go small and just allow simple generation and they add support for customizations,

[2020-06-04 20:42] derberg commented on #159
@typekpb @nickspacek hi folks, you might be interested in https://github.com/asyncapi/generator/issues/216. It would be awesome to hear your opinion.

[2020-06-04 22:30] fmvilas commented on #216
Great analysis mate. I'd make it a core feature and agree to make it explicit that we're using quicktype. And yes, it's too risky to add it to this major release. We can roll it out afterward and happy to bump major version if needed.

[2020-06-05 10:55] fmvilas opened #377 "Support React as a template engine"
Yes, you've read well. And no, I'm not drunk. Yet 😄

React has proven it's not just made for HTML generation. You can find multiple projects using it for different purposes, like [Ink](https://github.com/vadimdemedes/ink) or [React Native](https://reactnative.dev/). So why not code generation?

### Reasons why we should consider it

1. It’s markup in JS not JS (or logic) in markup. We’re always cr

[2020-06-05 18:04] fmvilas commented on #369
We're talking 2 different things here. With a debug param like `--debug` you get all the messages from Generator while with the env var you control what to see exactly. For instance, if I'm debugging the hooks registration process I could do `DEBUG=generator:hooks:register ag ...` and remove all the noise of the other parts. Or I may just want to see my template messages and not the Generator ones

[2020-06-06 09:08] Tenischev commented on #377
I'm template developer, and with Nunjucks i could write template on the Java with slight influence of Nunjucks filters. I like this feature, because it's my primary language and if template user would like to have a look on the code, it will be understandable for the user.
Regarding "Fast Fresh" will be work with hooks? Especially with hooks which change file names.

[2020-06-06 15:34] jonaslagoni commented on #377
Interesting... I'm literally sold just because of "We get a more precise error context than we do now with Nunjucks" and then keeping everything in javascript 😄 Are you thinking complete replacement or just another thing to support? 🤔

[2020-06-08 16:21] asyncapi-bot opened #379 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-06-08 17:09] fmvilas commented on #377
@Tenischev I understand the friction. The problem is that, as templates get more and more complex, Nunjucks sucks in readability. Actually, all the React files would start with something like:

[code]

So when reading, even if you don't understand much about it, you can pretty much ignore it as it's boilerplate code that's very similar everywhere. In any case, don't be afraid of React, it's JS wit

[2020-06-08 17:19] fmvilas commented on #377
Another thing I didn't mention: since we now would have a top-level `<File>` tag, we can put meta-information about the file there, like its name, permissions, etc. Something you'd do with hooks now could be easily done here like this:

[code]

This approach cuts down filters and hooks usage by a lot.

[2020-06-09 15:11] #379 closed

[2020-06-10 08:06] derberg commented on #377
I vote for having it as an experimental additional template engine which we can slowly worm up and see where it can go, or just get rid of it after all if we are not happy

[2020-07-06 06:58] derberg commented on #326
@jonaslagoni doesn't look like we can do more here, basically no response here mozilla/nunjucks#1287

[2020-07-13 08:58] derberg commented on #279
no further response,
main readme was extended with npx instructions,
closing

[2020-07-13 08:58] #279 closed

[2020-07-16 12:40] jonaslagoni opened #387 "The API document for the generator does not clarify access to the parsed AsyncAPIDocument"
#### Reason/Context
With the current [API ](https://github.com/asyncapi/generator/blob/master/docs/api.md#generator)document for the generator it does not state you have access to the parsed AsyncAPIDocument on `asyncapi` and the AsyncAPI file on `originalAsyncAPI`.

#### Description
We need to add jsdoc to the following lines:
https://github.com/asyncapi/generator/blob/4c8dd9de88c701ccf1afaeb28cf

[2020-07-16 12:43] McZenith commented on #387
Hi! I'm interested with a little mentoring I can pull this.

[2020-07-16 12:45] jonaslagoni commented on #387
Hey @McZenith awesome! You can draw inspiration by this:
https://github.com/asyncapi/generator/blob/4c8dd9de88c701ccf1afaeb28cf6aaba7e8b7e2c/lib/generator.js#L114
To see if it generates the correct API document run the command `npm run docs` 😄

[2020-07-16 12:56] McZenith commented on #387
Thanks will do.

[2020-07-17 16:19] credo-janne opened #388 "Using custom (local) template with docker seems broken"
I'm trying to run the generator (docker) with a custom template on file system, but fail.

Switching to using the latest cloned master of eg html-template code from a local dir also fails. As do using a clone of the java-spring-template repo.

The command I'm running is:
`docker run --rm -v /path/to/asyncapi.yml:/app/asyncapi.yml -v /path/to/cloned/html-template:/app/custom-template -v /path/to/ou

[2020-07-17 18:01] credo-janne commented on #388
I've now tried the same command, but with the remote spec (https://raw.githubusercontent.com/asyncapi/generator/master/test/docs/dummy.yml) mentioned at https://github.com/asyncapi/generator/blob/master/docs/authoring.md. Same outcome though.

Also, running with --version gives 1.0.0-rc.5, which I guess might be useful info.

[2020-07-20 10:20] fmvilas commented on #388
🤔 I can't manage to reproduce the bug. Would you mind removing your Docker image and pulling it again?

[code]

[2020-07-23 09:58] aravindajju opened #389 "Error while npm install"
I am trying to npm install asyncapi generator.  But it fails to install.

#### How to Reproduce
I am on Windows and I am using node v10.16.3 and npm 6.9.0

PS D:\Work Related\eventus> npm i @asyncapi/generator
npm ERR! path git
npm ERR! code ENOENT
npm ERR! errno ENOENT
npm ERR! syscall spawn git
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t ssh://git@github.com/

[2020-07-23 10:22] jonaslagoni commented on #389
With npm version `6.14.5` and node version `v13.9.0` I am not able to reproduce this error.

Since the generator demands the following engines to run:
[code]

You might have to update both npm and node regardless, and that might solve this install problem as well 🤔

[2020-07-23 10:25] aravindajju commented on #389
I overlooked the requirements.  I will update the versions and check.

[2020-07-23 10:43] aravindajju commented on #389
Updated node and npm to v12.18.3 and v6.14.7 respectively.  But no luck.  I have looked through the debug log.  It is failing here

83 silly fetchPackageMetaData error for @apidevtools/json-schema-ref-parser@github:fmvilas/json-schema-ref-parser#add-more-info-about-errors Error while executing:

I have attached the npm debug log for reference as well.

PS D:\Work Related\eventus> npm install -g @a

[2020-07-23 11:11] jonaslagoni commented on #389
Hmm. So after looking at the dependency that can't be fetched it is `"@apidevtools/json-schema-ref-parser": "github:fmvilas/json-schema-ref-parser#add-more-info-about-errors",` and it seems like the `github:` part attempts to install it with `git` as stated in the [npm documentation](https://docs.npmjs.com/cli/install):

And based on how the documentation for how [package.json github dependency](h

[2020-07-23 11:17] jonaslagoni commented on #389
Ahh. I can see that even in our `dockerfile` it states that

Guess someone forgot to update our readme 😄

[2020-07-23 11:22] aravindajju commented on #389
Thank you @jonaslagoni  for this input.  I have git installed, but I've realized it is not in the path for my dev setup.  Once I added, I am able to install it now.

[2020-07-24 09:25] jonaslagoni opened #391 "The generate does not install template modules correctly if local"
#### Describe the bug
If you use the generator with a local path for a template i.e. `ag "./streetlight.json" "./ts-nats-template"` it does install all the modules however it still says missing module when moving to the generation phase.

[code]

#### How to Reproduce

1. Clone any template locally
2. Run the command `ag "[some AsyncAPI document]" "[some local path to template]"

To solve manually

[2020-07-27 15:46] derberg commented on #389
I think our priority should be to not use fork here https://github.com/asyncapi/parser-js/blob/master/package.json#L52 but rather switch to the upstream project.

if above takes to much time, we should just modify `package.json` to point to tarball like https://github.com/fmvilas/json-schema-ref-parser/tarball/add-more-info-about-errors so npm doesn't require `git`. Much better than adding `git` t

[2020-07-27 15:53] derberg commented on #388
@credo-janne hey, did you try running docker with template from remote location and not local?

Your issue seems to be related to this one https://github.com/asyncapi/generator/issues/391

you can also try to go to your local template and install it manually first with `npm i` and then run docker. Just to make sure if those issues are related

[2020-08-02 21:03] jonaslagoni opened #395 "All files under template are rendered even if not template file"
#### Describe the bug
Sometimes you might want to include some binary files. In this case it can happen that the generator is unable to complete the generation in some cases.

With attached file the generator throws the following error:
[code]

#### How to Reproduce

- See attached file [cant generate.zip](https://github.com/asyncapi/generator/files/5012964/cant.generate.zip), this is what caused

[2020-08-02 21:08] fmvilas commented on #395
There's already a solution for this. Check out `nonRenderableFiles` in the [docs](https://github.com/asyncapi/generator/blob/master/docs/authoring.md#configuration-file).

[2020-08-02 21:08] #395 closed

[2020-08-02 21:18] jonaslagoni commented on #395
Was just about to close it... Found it as well 😅

[2020-08-04 17:05] alexanderTilg opened #396 "asyncapi.allSchemas() does no longer return all schemas!"
#### Describe the bug
Version 1.0.0-rc.7 does not seem to return all the schemas when calling asyncapi.allSchemas().
It was still working in version 0.34.3.

#### How to Reproduce
- install version 1.0.0-rc.7
- use the yaml file below
[code]
- output all schemas (e.g. console.dir() in a custom filter)
[code]

#### Expected behavior
All schemas should be returned!
- install version 0.34.3 (still wo

[2020-08-05 07:08] derberg commented on #396
Hi @alexanderTilg,
Thanks for reporting this bug. Even if you would not add the `!` we would still have a look as it is a bug and we are close to releasing major version 😄

`allSchemas()` is a parser function that I checked directly in parser with your schema and this is what I got:
[code]

So the result is pretty good and we have pretty complex test for this function where we check more complex n

[2020-08-05 07:22] alexanderTilg commented on #396
Thanks for the quick reply! ;) :)

[2020-08-05 14:43] derberg commented on #396
@alexanderTilg oh man, this one gave me a headache 😄 looked like a magic first. Anyway, fix provided https://github.com/asyncapi/parser-js/pull/148, once parser is released I will bump generator release candidate and you will get:

[code]

why not:
[code]

because before you used a pretty old generator and since that time we added support for adding anonymous schema id to nested schemas

[2020-08-05 14:50] alexanderTilg commented on #396
That was fast, thanks for looking into it and fixing it!
The extra anonymous schemas are not an issue, they can easily be filtered out if needed.

[2020-08-06 05:56] derberg commented on #396
@alexanderTilg Parser with the fix is already released. I will make few other fixes today and should release generator tomorrow if nothing bad happens

just curious, what is your use case for the generator, do you have some custom template of yours?

[2020-08-06 08:26] alexanderTilg commented on #396
Right now I'm working on generating Typescript typings out of asyncApi specs.
It is already in use in one micro service (lambda function; POC; that's the one running on 0.34.3.)
Now I'm putting it into its own npm package, so I can use it with the project I'm currently working on and then hopefully we will use it in all our services that use async communication.

I'm also considering to generate j

[2020-08-06 08:41] derberg commented on #396
Sounds great. I recommend then to join our slack https://www.asyncapi.com/slack-invite/ and the #tooling channel where you can always ask for help or provide feedback if you see we're working on something for the generator.

Keep in mind template doesn't have to be on npm if you want to reuse it, but of course, it is a good practice to publish and version it on npm.

If you are mostly interested w

[2020-08-10 13:00] credo-janne commented on #388
Hi, thanks for your response. And sorry for being unresponsive myself. Vacation periods unfortunately...

I tried the newest docker image (now running 1.0.0-rc.7), but the result is the same.

Agree with that it seems related to the same problem as described in #391. If that is the case, then this is problem is not really related to the docker packaged version, but rather the generator itself, I g

[2020-08-10 15:06] derberg commented on #388
until we have this fixed the only solution for you is to use some pure nodejs docker image, and first install template dependencies with it. Here is an example https://gist.github.com/ArtemGordinsky/b79ea473e8bc6f67943b but of course with pretty old node image, use `node:12-alpine`

[2020-08-11 05:32] derberg commented on #396
@alexanderTilg new release candidate is finally out, can you please give it a try? https://github.com/asyncapi/generator/releases/tag/vv1.0.0-rc.8

[2020-08-11 05:58] derberg commented on #389
Now, with latest release candidate 8 we are using `@apidevtools/json-schema-ref-parser` from the upstream and not the fork. Issue solved

[2020-08-11 05:58] #389 closed

[2020-08-13 15:19] credo-janne commented on #388
An update.

Installing the template on the host is in fact sufficient for making the dockerized generator work too.

When installing the template on host level (`npm install` in the template directory), all resources needed for the generator will end up in the template directory on the host. Since that directory is mounted to the docker container, everything needed for the dockerized generator is

[2020-08-14 09:21] derberg commented on #388
oh, I thought I want to avoid installing and using `npm`. Anyway as you said, it is still a workaround, this is why we should keep this issue open imho

[2020-08-17 11:55] derberg commented on #391
@jonaslagoni I tried and cannot reproduce this one. Had local HTML template, removed its `node-modules` and then ran generator both, from local sources and with `ag` installed and all is fine. I'll see how it goes with docker

[2020-08-17 12:17] derberg commented on #391
ok, got it with fresh env through docker:
[code]

[2020-08-18 08:25] derberg commented on #391
From what I've learned so far error `Cannot find module '/app/node_modules/@asyncapi/html-template/node_modules/@asyncapi/generator-filters'` is there because the dependency is installed  here `/app/node_modules/@asyncapi/generator-filters` which kind of makes sense as in docker the `cli.js` runs inside `generator`/`app` dir and all deps are installed there...

[2020-08-18 09:07] derberg commented on #391
In docker if I change the location where I run `cli.js`, or in other words, when I change the location of the template, to not have it inside the generator folder, then all works file. So the issue is only if the template is inside the generator, then the installation is done in the generator `node_modules` instead of the template `node_modules`

this fails:
[code]
this is ok:
docker run -it \
-v

[2020-08-18 09:08] derberg commented on #388
@credo-janne you might be interested with the result of my recent investigation https://github.com/asyncapi/generator/issues/391#issuecomment-675358972. You do not have to install template explicitly, just mount the template in different directory like this:

`docker run --rm -v /path/to/asyncapi.yml:/app/asyncapi.yml -v /path/to/cloned/html-template:/template/custom-template -v /path/to/output:/a

[2020-08-18 10:30] derberg commented on #391
@jonaslagoni I investigated it a lot and I can now confirm that it is simply not possible to have it working when the template is inside the generator because this is how npm works:

source: https://www.stackchief.com/tutorials/npm%20install%20%7C%20how%20it%20works

`npm install myfolder`
When a folder argument is specified, npm install downloads everything from the specified location to the orig

[2020-08-18 17:03] derberg commented on #391
Will have another look into it after the open meeting as it seems the issue is also with global generator installation.

[2020-08-19 09:45] derberg commented on #391
@jonaslagoni I have no idea how I can help you as I'm not able to reproduce it with `ag`. I've setup super fresh installation on my local with nvm (I'm using it to easily switch between node versions) and it works as expected with local template that is not installed manually. I also tried it wit docker and all works fine

[code]

maybe this is some windows thingy? so access rights issues? maybe t

[2020-08-19 09:47] derberg commented on #396
closing as no followup was taken after 7 days

[2020-08-19 09:47] #396 closed

[2020-08-19 09:54] derberg opened #399 "Improve docker image to contain npm global installation only instead of generator sources"
#### Reason/Context
At the moment we provide official docker image that contains generator sources https://github.com/asyncapi/generator/blob/master/Dockerfile#L18-L20
So in the docker image, we do not enable users to use official release but sources of the release. The official release is what goes to npm and this is what Docker should use. This means we should do something like this in the docke

[2020-08-19 09:55] derberg commented on #388
@credo-janne I'm gonna close this one since we have 2 solid workarounds and there is no way to solve it really, we can only improve it and long term we will do it with https://github.com/asyncapi/generator/issues/399

[2020-08-19 09:55] #388 closed

[2020-08-19 14:07] jonaslagoni commented on #391
So it is a fresh copy of a template with no `node_modules` folder inside? I just tried with a fresh install of the generator and still have the issue. But yea, might be windows 🤔

[2020-08-19 14:24] jonaslagoni commented on #391
hmm, I get some other error now, let me investigate a bit.

[2020-08-19 14:30] jonaslagoni commented on #391
Nope, still get the same error when trying to generate from a template with no `node_modules` directory.

[2020-08-19 14:53] derberg commented on #391
and what about if you use generator from sources? like `/.cli.js`?

[2020-08-19 15:32] rv0 opened #400 "Support for empty payload"
#### Description

"payload" is not mandatory, therefore it can be empty or just left out completely.
However when you do this, the rendering will fail with an unclear error (at least with html-template)

#### How to Reproduce
Remove payload from a message in the streetlights example.

#### Expected behavior
Render empty payload.

[2020-08-19 15:38] jonaslagoni commented on #391
Tried to download the html template and got a really really weird result:
[code]

Why does the previous used local template affect this generation? Got this error twice when trying to generate different things....

Tried running the command in a sub folder which works fine
[code]

Then I tried to go back to the parent folder and ran the same command again and got
[code]

So yea, now I am confused

[2020-08-19 15:41] jonaslagoni commented on #400
@rv0 can you provide the error? This sounds like an issue in the template and not the generator.

[2020-08-19 15:45] jonaslagoni commented on #391
You mean running the source files directly instead of the bin shortcuts?

[2020-08-19 17:58] derberg commented on #391
yeap, get generator sources, `npm i` and just call the `./cli.js` directly instead of `ag`.

Maybe first try to wipe out `npm`, get entirely fresh installation, and make sure you have the required one

[2020-08-19 20:15] credo-janne commented on #388
Thanks, I've verified the workaround on my side, and it does work as described.
Mounting the template to a different path than `/app` (eg to `/custom-template`) in the docker container does work without a need to run `npm -i` in the template directory on the host in advance.

[2020-08-20 05:22] derberg commented on #400
@jonaslagoni yeap, this is a template related, moving to `html-template` as I know the issue was noticed in the playground

[2020-08-20 05:22] #400 closed

[2020-08-20 05:22] derberg commented on #400
Issue moved to [asyncapi/html-template #55](https://github.com/asyncapi/html-template/issues/55) via [**ZenHub**](https://www.zenhub.com/)

[2020-08-20 10:56] rv0 opened #401 "Not possible to pass on a local template with latest 1.0.0-rc.9"
#### Describe the bug
Using asyncapi version 1.0.0-rc8 I could render the docs with a local template.
With  1.0.0-rc9 it will just default to the html template somehow (probably because it looks inside the package.json of the local template?).
If this is intended behavior, please document how to pass on a custom template with rc9.

#### How to Reproduce

`ag -o html asyncapi.json ../html-template`

[2020-08-20 12:54] derberg commented on #401
Are you sure it is caused by the version of the generator? when you install the older one again all works fine?
The generator looks into local template and if you made some changes you need to ask the CLI for another installation with `--install`. Please try again and let me know how that helped

[2020-08-20 13:01] rv0 commented on #401
Yes, I was running rc.9 and it was rendering "normal" (non-modified version)
Than I installed rc.8 and it was rendering the custom template (modified version)

Just updated back to rc.9 and it works as expected now.. The --install may have been the problem then?

But it's weird, as the html-template folder was something I had never used on this computer before.

[2020-08-20 13:15] derberg commented on #401
These things may happen and this is why we have `--install` flag. It happens when you use both, local HTML template and the one from npm as at the end they are both with the same name, `@asyncapi/html-template`

[2020-08-20 13:16] derberg commented on #401
for sure not related to release candidates as we did not introduce any direct changes to the generator, but just to the parser and increated the parser version in the generator, thus another generator release

[2020-08-20 13:26] rv0 commented on #401
Makes sense, thanks for clarifying

[2020-08-20 13:26] #401 closed

[2020-08-20 13:39] derberg opened #402 "Create a GitHub repository template that would enable easier onboarding to generator and writing templates"
#### Reason/Context
The generator has already many different functionalities that if utilized, can make the writing of the template much easier. Writing of first template can be overwhelming especially that we do not have a single template at the moment that would reach 1.0 release and use all generator features. We need good docs and examples, but best would be to have both in a GitHub repo templ

[2020-08-20 14:54] jonaslagoni commented on #377
I vote to move this feature along. I am starting to get really frustrated with Nunjucks it takes so long time to find the bugs the generator are reporting with `--debug` flag or without... It takes longer and longer to create more and more complicated templates.

Example I am currently getting the following error:
[code]
Where the file `$$channel$$.cs.njk` only contains 33 lines of code so the err

[2020-08-20 14:58] felixplatteau opened #403 "one entry in nonRenderableFiles: []"
would be nice if string is supported in case of one entry + better error if the link to file is wrong

[2020-08-20 15:07] derberg commented on #403
Please provide an error message that you're getting when the link to file is wrong.

Docs explain well how that works, but we should make sure the error is also helpful

[2020-08-25 10:27] fmvilas commented on #402
I have the feeling this template is already too complicated for a starter use case. Have you considered creating multiple templates? For instance:

1. A simple one. Only the bare minimum to create a template. A hello world.
1. Another one demoing some non-basic features.
1. Another one demoing some advanced features.

The last two could be just one as a starting point. And, in every case, I think

[2020-08-25 14:21] derberg commented on #402
maybe not complicated but rather complex. Mermaid is in scope just to have more fun from writing a template. It will be very simplistic and its only purpose is learning, not using in production (on a contrary to Node.js and HTML templates) so it will just touch features to present them. It will be followed by docs, of course, describing every part of the template, even scripts from NPM so nothing

[2020-09-09 16:19] apaezg opened #406 "readme file referring to non-existing document"
#### Describe the bug
README.md in the section "CLI usage with Docker" still refers to streetlights.yml that seem was deleted on tests/docs.

#### How to Reproduce
- clone repository
- follow guide to execute
`docker run --rm -it \
-v ${PWD}/test/docs/streetlights.yml:/app/asyncapi.yml \
-v ${PWD}/output:/app/output \
asyncapi/generator -o ./output asyncapi.yml @asyncapi/html-template --force-writ

[2020-09-09 19:45] fmvilas opened #407 "React as a Generator engine"
# React as a Generator engine

Make Generator support React as a template engine, along with Nunjucks.

## Problem

The current templating system —based on Nunjucks— has some really important drawbacks:

1. It's hard (or impossible) to create reusable "partials" across templates. Ultimately, this leads to repetition, especially those of the same kind. For instance, POJO (Plain Old Java Objects) de

[2020-09-10 06:58] derberg commented on #407
The most important is to have it as mentioned in the first line, along with Nunjucks, where Nunjucks is default, and with some `alpha` flag one can enable React.

I just would like to argue here that it is a good reason for a change. Simply because you can also write an unreadable react component, while you also can write a perfectly structured Nunjucks template like the html-template. Unless you

[2020-09-10 07:09] derberg commented on #406
@apaezg Thanks a lot Antonio. Would you like to open a PR for that? it just needs to be changed to point to the `dummy` file instead of `streetlights`

[2020-09-10 09:44] apaezg commented on #406
Hi @derberg, I think I have just opened the PR properly. It is my very first time contributing to an open source project, so, if there's anything wrong, sorry in advance, and let me know to fix it.

[2020-09-10 09:50] #406 closed

[2020-09-10 09:51] derberg commented on #406
@apaezg first and perfect!!! thanks so much mate!

[2020-09-10 17:21] fmvilas commented on #407
We can instead rely on the template configuration file. If there's a `renderer` field with value equal to `react`, we proceed as a React template. Otherwise, it would use Nunjucks.

The difference is that anyone can easily create reusable components (partials) or add handy functions right inside the React file. The latter can be done with Nunjucks filters too but requires more effort because funct

[2020-09-11 11:17] GordeevArt opened #409 "watch-template is watching output folder"
#### Describe the bug
Discussed here https://github.com/asyncapi/html-template/issues/61 - I remove unused files by hook and it coping files infinitely.

#### How to Reproduce
In https://github.com/asyncapi/html-template do
`ag test/spec/asyncapi.yml ./ -o test/output --force-write --watch-template -p singleFile=true`
than change some files.

![image](https://user-images.githubusercontent.com/2003

[2020-09-11 12:27] jonaslagoni commented on #409
https://github.com/asyncapi/generator/pull/337 should have fixed this issue 🤔 @GordeevArt what generator version are you using?
@derberg any thoughts on the issue?

[2020-09-11 12:32] GordeevArt commented on #409
@jonaslagoni I use latest @asyncapi/generator@1.0.0-rc.10 version

[2020-09-11 13:29] derberg commented on #409
@jonaslagoni I forgot I fixed it some time ago 😆 I just checked quickly on local and for me my fix still works 😄

@GordeevArt are you a windows user? or?

[2020-09-11 13:46] GordeevArt commented on #409
@derberg Fedora Linux 5.7.15-100.fc31.x86_64

Try to change something in output folder (index.html).

it matters just for developing with parameter **singleFile=true**.

[2020-09-11 14:07] derberg commented on #409
@GordeevArt I tried to do changes manually in output, also added a hook that you added without any parameters so it always runs, and no effect

I recorded this to show how I do it
![](http://g.recordit.co/cu1qQzHFtH.gif)

[2020-09-11 14:15] derberg commented on #407
❤️

[2020-09-11 14:30] GordeevArt commented on #409
@derberg ok, thanks for research. I do the same but have the bug. It is no critical.

[2020-09-11 14:58] derberg commented on #409
@GordeevArt [this](https://github.com/paulmillr/chokidar/tree/master) is what we are using under the hood to watch for changes. Would be great if you could try out [their CLI](https://github.com/kimmobrunfeldt/chokidar-cli) with `--ignore` flag, to see if this issue is caused by the `chokidar` library or we just do something wrong in the Generator

[2020-09-11 15:25] GordeevArt commented on #409
@derberg this still don't work for me

[2020-09-11 15:34] derberg commented on #409
@GordeevArt you mean you tried https://github.com/kimmobrunfeldt/chokidar-cli indepedently from the generator and it was also detecting changes in ignored paths?

[2020-09-14 07:49] derberg commented on #209
Work in progress => https://github.com/asyncapi/go-template/pull/1

[2020-09-14 09:30] Ellocsys opened #412 "Error: Docker container can't generate html"
#### Describe the bug

Docker [container](https://hub.docker.com/r/asyncapi/generator/tags) can't start because html-template@0.12.0 generate error like:

[code]

#### How to Reproduce

I tried [asyncapi/generator:1.0.0-rc.10](https://hub.docker.com/layers/asyncapi/generator/1.0.0-rc.10/images/sha256-b1cf7a277f5fa5daba9fc8e0000834ba552f605d8c918e371aaecbcd0fc50962?context=explore ) container, but

[2020-09-14 09:33] derberg commented on #412
@Ellocsys you mean you're getting error with latest generator too or only older? `circularProps` is a new prop added to schema b the parser, in generator rc.10, maybe since rc.8

[2020-09-14 09:49] Ellocsys commented on #412
@derberg latest (tried on asyncapi/generator:1.0.0-rc.10) and older (tried on asyncapi/generator:0.53.1 and asyncapi/generator:0.50.0).

[2020-09-14 12:19] FabienSailliet opened #413 "Schema inherited with allOf is displayed as an array"
From what I understand in the [AsyncAPI specification section talking about inheritance](https://www.asyncapi.com/docs/specifications/2.0.0/#schemaComposition), inheritance can be achieved with the JSON Schema `allOf` syntax.

I tried the provided "Models with Composition" example, with the following code:

[code]

As I am doing inheritance, I am expecting the result to look like this:

![Screensh

[2020-09-14 12:23] derberg commented on #412
@Ellocsys could you share your schema file?

[2020-09-14 12:37] derberg commented on #412
@Ellocsys the `circularProps()` operates on the `properties` of the object. If there is no `x-parser-circular-props` propert added to the object by the parser, then it just returns undefines. So I just need to see your schemas to see what is wrong with them, or what is wrong with my assumption 😄

[2020-09-14 12:56] derberg opened #414 "Add type and possibleValues properties to template configuration"
#### Reason/Context

I have a template where user can pass `-p png=true` to get additional png of the diagram. I showed example through CLI where everything is a String. Now, in configuration we do not specify type of the value that has to be provided in the parameter. I can do it in readme but yeah, manual and depends on my. Now, I wanted to use my template in Generator as library and I immediate

[2020-09-16 11:50] derberg commented on #414
wouldn't instead of those 2 fields be better to specify just a schema with JSON Schema format 🤔

[2020-09-16 12:06] derberg commented on #220
SonarCloud is now configured to watch all current and futuere AsyncAPI repositories.
I will add separate issues per repository about:
- eslint plugin for nodejs plugins
- fixing issues found by sonarcloud
- making sonarcloud mandatory check
- making sonarcloud check run on release

[2020-09-16 12:06] #220 closed

[2020-09-18 14:04] derberg opened #416 "Move function from watcher before the for loop"
**Context**

SonarCloud info:

So yeah, never create new instance of a function inside every loop, unless this is explicitly required by some specific library

**Description**

Declare [this](https://github.com/asyncapi/generator/blob/master/lib/watcher.js#L33) anonymous function before the `for` loop.﻿

[2020-09-22 07:23] derberg commented on #403
Details not provided

[2020-09-22 07:40] derberg commented on #331
Markdown is supported, for HTML I added an issue here https://github.com/asyncapi/html-template/issues/73
this can be closed

[2020-09-22 07:40] #331 closed

[2020-09-22 08:09] Igor-lkm commented on #412
I have a similar problem with `circularProps`.

`package.json`

[code]

`yaml`:

[code]

`Error`:
[code]

[2020-09-22 09:55] derberg commented on #412
@Igor-lkm could you please first upgrade to latest generator `v1.0.0-rc.11`? The previous versions of generator did not use latest parser that adds those `circularProps`

[2020-09-22 11:23] Igor-lkm commented on #412
@derberg works! thank you

[2020-09-22 11:55] jonaslagoni commented on #403
@derberg I can provide some insight here. When you provide `nonRenderableFiles` options it is guess work (unless you done it a few time) whether it actually stop the file from being rendered.

And by this I think it means adding an error if no files where found, this would be useful for me a couple of time.

What is meant here is just instead of `nonRenderableFiles: ["path"]` to do `nonRenderableF

[2020-09-22 13:39] derberg opened #417 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-09-23 13:17] Ellocsys commented on #412
@derberg it works for me too! Thank you for help

[2020-09-23 13:17] #412 closed

[2020-09-28 08:00] derberg commented on #403
@jonaslagoni oh, so these are two different features, but yeah, thanks for clarification 😄

[2020-10-01 07:07] derberg commented on #399
Video explanation https://youtu.be/Iqs_2BiNEEo?t=224

[2020-10-01 14:16] komodovaran opened #418 "$ref doesn't work with multi-layer inheritance, because working directory changes?"
#### Describe the bug
$ref doesn't work with e.g. A.yaml that refers to B.yaml, which refers to C.yaml. An example could be VerySpecific.yaml -> Generic.yaml -> Base.yaml

#### How to Reproduce
1. Place yaml scripts in _/Directory_
2. A.yaml refers to B.yaml via $ref: '._/Directory/B.yaml_' and B.yaml refers to C.yaml via _/Directory/C.yaml_
3. Run generator with a relative reference to _/Director

[2020-10-02 17:24] mowies commented on #399
I would like to work on this issue please :)

[2020-10-02 18:41] derberg commented on #399
@mowies please do. I'll jump into review once you undraft it

[2020-10-02 18:43] mowies commented on #399
The PR should be ready now

[2020-10-05 17:03] #399 closed

[2020-10-06 14:48] M3lkior opened #423 "Avro enum type, with symbols values not generated in HTML template"
#### Describe the bug
We are using AsyncApi 2.0.0 specifications with avro file as `$ref`

Given this declaration bloc in avro file :
[code]

We expected to see an HTML bloc rendering as :

![image](https://user-images.githubusercontent.com/5501911/95216622-93ea0680-07f2-11eb-9990-0546c0c9693e.png)

but actually displayed as :

![image](https://user-images.githubusercontent.com/5501911/95216693-a9

[2020-10-07 12:13] derberg commented on #331
@Cingulara in HTML it is also supported now https://github.com/asyncapi/html-template/releases/tag/v0.13.0

[2020-10-07 12:41] derberg commented on #423
@M3lkior so there are 2 things:

- I checked your example. Where template could get this from `The WH inbound unit of measure`
- Regarding enum. It is not a bug in this template, rather the avro schema parser that doesn't convert `symbol` to `enum`. This is how your example AsyncAPI file looks like after parsing in the generator:
[code]

[2020-10-07 13:17] M3lkior commented on #423
Ok so i must create an issue in the `avro-schema-parser` side ?

[2020-10-07 13:33] derberg commented on #423
@M3lkior depends on what is your answer to the first bullet point? `The WH inbound unit of measure` is not in your example so I do not know what is the issue with it. Is it something that you would normally have under `name` in avro?

currently, after conversion, there is no `description` prop added but would be good to know where it should be taken from
[code]

once you clarify I'll transfer the

[2020-10-07 13:39] derberg commented on #423
@M3lkior looks like you are missing `doc` in your example. I checked avro parser and looks like all should be good as we have a test case for your case https://github.com/asyncapi/avro-schema-parser/blob/master/tests/to-json-schema.test.js#L75-L78.

I transfer, have no idea for now why it doesn't work as expected

[2020-10-08 13:22] M3lkior opened #424 "Cannot read property 'type' of undefined - using type array in avro schema"
#### Describe the bug

Based on the `asvc` file below, the generator throws a
[code]
#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

Here is the Gist with the `asvc` sample : https://gist.github.com/M3lkior/e282c8ebd3ac94759d4f58ebefdb8f49

* Use the https://gist.github.com/M3lkior/e282c8ebd3ac94759d4f58ebefdb8f49#file-asyncapi-yaml

[2020-10-08 20:04] laat opened #425 "The generator does not use templates installed in node_modules"
#### The bug

This installs  @asyncapi/html-template twice.
[code]

repro: https://github.com/laat/repro-asyncapi-generator

#### Expected behavior
It should reuse installed templates. This lets me pin templates at a specific version

#### The repro has a patch

This solves the issue for me. Essentially `require.resolve` does the heavy lifting and should support the intended uses of the replaced c

[2020-10-09 07:36] derberg commented on #425
@laat Hey, I need more details to fully understand the issue.

- What is the use case for using generator like this `npm i -D @asyncapi/generator  @asyncapi/html-template
./node_modules/.bin/ag src/simple.yaml @asyncapi/html-template --force-write`
- `This lets me pin templates at a specific version` what do you mean, now you can use a specific version of the template too, it is described here htt

[2020-10-09 07:57] laat commented on #425
At the moment, when installing `@asyncapi/html-template` puppeteer is installed which is about 130 mb. With my workflow it gets installed twice.

I want reproducible builds, and to do that I need all dependencies declared in `pacakge-lock.json`. By specifying a version on the commandline the build can fail the next day, without me changing anything, because a transitive dependency broke.

The code

[2020-10-09 09:34] derberg commented on #425
ok, that makes sense

would you mind opening a PR, I'd love to help with testing different scenarios. I would work on your PR for a couple of days to make sure all works well

[2020-10-13 21:29] jonathanhuet opened #427 "Mixed type array support"
#### Describe the bug
If a mixed type array is declared, this is not correctly rendered in the HTML view it is rendered as _Array < Unknown >_

#### How to Reproduce
To reproduce it:

1) copy and paste the following spec in the generator

[code]

2) In the generated HTML code, see that the _Array < Unknown >_ is shown for the property `mixedTypeArray` and no types shown in the definition of the ar

[2020-10-14 07:33] laat commented on #425
@derberg I created a PR :)

[2020-10-14 08:03] derberg commented on #425
@laat yeap, noticed. Will write down all possible test scenarios that need to be checked and starting from that point we will see how to approach testing. I don't want to throw responsibility for writing missing tests on you, but if you want to work on them, I will not stop you 😄

[2020-10-14 08:22] derberg commented on #427
@jonathanhuet this issue was reported a few days [here](https://github.com/asyncapi/playground/issues/36).

PR with the fix is already opened https://github.com/asyncapi/html-template/pull/97

When I check my fix with your example, this is what I get
<img width="958" alt="Screenshot 2020-10-14 at 10 05 37" src="https://user-images.githubusercontent.com/6995927/95961215-08c9cb80-0e05-11eb-8358-2385

[2020-10-14 11:05] jonathanhuet commented on #427
@derberg thanks for the fast reply!

Totally true about the issue #36. My bad!

About your PR result, it's totally ok for me. Thanks.

Just as a side note that probably is most a feature: As I'm familiar from Swagger/OAS, I'm missing the type name of the (referenced) object in the dropdown, as it is can be seen in OAS generator

[2020-10-14 12:37] derberg commented on #427
@jonathanhuet no worries.

you mean that instead of `0` and `1` you would prefer `oneOfSchema` and `oneOfSchema2`?

[2020-10-14 14:15] jonathanhuet commented on #427
yes, I think it is might be useful. OAS 3 HTML generator has it for each reference. In terms of coding I think it is useful to identify each parts and then having a specific handler/parser for that specific part of the message

[2020-10-14 17:09] Tenischev opened #429 "Add complexity to dummy schema"
#### Reason/Context
Sometime ago we have several issues [first](https://github.com/asyncapi/java-spring-template/issues/71), [second](https://github.com/asyncapi/java-spring-template/issues/70)  for `java-spring-template` about compatibility of schemas with `oneOf`, `anyOf` (and in the fact `allOf` is still not yet supported).
Creator refer to examples from https://github.com/asyncapi/asyncapi/tre

[2020-10-14 18:27] magicmatatjahu commented on #333
@derberg Could I take it? I have an idea to use `--disable-hook` flag for this and extend the flag's argument to something like

[code]

Then generator only skip hook with given name :)

I know that hookName is not required, so at the moment it should works only for common hooks like `createAsyncApiFile` from `@asyncapi/generator-hooks`.

I am not a expert in generator and its source code, so prob

[2020-10-14 18:29] CumminsMikeMattern commented on #427
I agree with @jonathanhuet

[2020-10-15 13:24] derberg commented on #427
@jonathanhuet @CumminsMikeMattern I'll see what I can do. We already did it a few days ago in our react component https://github.com/asyncapi/asyncapi-react/pull/156 so this is definitely something that should be done here in the HTML template

[2020-10-15 14:22] derberg commented on #333
love it but as log as `--disable-hook <hookType>` will still work as before

what do you mean?

I don't remember implementation details but should be fine

---
table looks good, but `name` should be first imho. Even if hook comes from external lib, it should still be described in the repo where it is used imho

Aynway, take it man

[2020-10-15 15:13] derberg commented on #427
Ok, I pushed fix that I think you are looking for

with such schema:
[code]

you get this

<img width="942" alt="Screenshot 2020-10-15 at 17 10 43" src="https://user-images.githubusercontent.com/6995927/96149435-9db5ed00-0f09-11eb-8f74-4ca0030d7bb6.png">

[2020-10-15 15:13] derberg commented on #427
what do you think?

[2020-10-15 15:31] CumminsMikeMattern commented on #427
Looks great !

[2020-10-15 17:04] magicmatatjahu commented on #333
Yes, If user put only `--disable-hook <hookType>` then whole hooks of given type will be skipped, but if put `--disable-hook <hookType>#<hookName>`, then only particular hook (with <hookName> name) of <hookType> will be disabled.

I mean that <hookName> is not mandatory if you write your own hooks. Please see https://github.com/asyncapi/java-spring-template/blob/master/hooks/01_inverseOperations.j

[2020-10-15 17:12] derberg commented on #333
ah, this is what you mean. Yes is it not mandatory. If template dev wants to make hook `disableable` 😄 he then need to add a name 😄

the only problem I see with your suggestion for the flag is that you will not be able to disable multiple hooks

[2020-10-15 17:17] magicmatatjahu commented on #333
So maybe change my idea to `--disable-hook <hookType>[Array<hookName>]`? 🤔

[2020-10-16 07:18] derberg commented on #333
@magicmatatjahu maybe look at the library that we use do create CLI to see what options we have, not sure if what you propose is technically possible

[2020-10-16 07:20] derberg commented on #427
fixed with https://github.com/asyncapi/html-template/pull/97

[2020-10-16 07:20] #427 closed

[2020-10-16 08:55] #416 closed

[2020-10-16 09:48] jonathanhuet commented on #427
Yes, that's great!It will be very helpful! Thanks 👍

[2020-10-16 09:51] derberg commented on #427
@jonathanhuet it is already released 😉 https://github.com/asyncapi/html-template/releases/tag/v0.15.0

[2020-10-20 07:22] #417 closed

[2020-10-20 10:02] jonathanhuet commented on #427
@derberg Thanks! And also uploaded to https://playground.asyncapi.io/ , perfect!

[2020-10-23 13:40] bszwarc commented on #387
I can help with this one, if it's still available :)

[2020-10-26 08:33] Vanderhoof opened #434 "Generator stopped working with new npm version"
#### Describe the bug
I have updated npm to 7.0.5 version and generator command started crashing with error:

[code]

The error is raised [here](https://github.com/npm/cli/blob/latest/lib/npm.js#L127) in npm module

I am launching the command like this:

[code]

I can't find the solution in the web, and honestly I am not an experienced node user so I have almost no idea of how to treat this error.

[2020-10-26 08:46] derberg commented on #434
@Vanderhoof hey, thanks for reporting it. I don't think we can call this one a bug. We openly state what version of node and npm are supported -> https://github.com/asyncapi/generator#requirements. We even explicitly make sure what version of npm to install https://github.com/asyncapi/generator/blob/master/Dockerfile#L10-L11. Also have a look at https://github.com/asyncapi/generator/blob/master/pa

[2020-10-26 09:23] Vanderhoof commented on #434
@derberg Thank you for reply!

It finally got me unstuck and I solved the issue by changing `node:latest` to `node:14`. Might as well try using the Docker image of asyncapi-generator inside my container instead of installing it natively.

But now our pipeline is finally working, after two days, so thank you again : }

[2020-10-27 15:16] derberg commented on #425
@laat wouldn't it be better for you to just install with `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD="true"` and avoid duplicated chromium installation?

[2020-10-27 15:36] laat commented on #425
It still does not solve the reproducible builds issue. Because package-lock.json is ignored.

[2020-10-27 15:38] derberg commented on #425
@laat are you 100% sure it is ignored? the installation logs show 200 or rather different code (302 I think)?

[2020-10-27 15:57] laat commented on #425
Yes.

First setting up the repository https://github.com/laat/repro-asyncapi-generator
[code]

Then see that it should install buffer 5.6.0 exactly:

![image](https://user-images.githubusercontent.com/146559/97327158-f9bb3280-1874-11eb-9aa8-ec765c1c78ba.png)

Observe that it actually installs buffer 5.6.1:

![image](https://user-images.githubusercontent.com/146559/97327513-561e5200-1875-11eb-8380-

[2020-10-28 01:18] djencks opened #435 "parser 1.0.2 incompatible with current generator"
#### Describe the bug
Using parser 1.0.2 with generator 1.0.0-rc.13 results in errors:
[code]

#### How to Reproduce
package.json:
[code]
code:
[code]

To see this in action, clone https://gitlab.com/djencks/antora-asyncapi, change the version of the parser to 1.0.2, run npm i, clone https://gitlab.com/djencks/antora-extension-examples, in antora-asyncapi change the location of @djencks/antora-asy

[2020-10-28 11:45] derberg commented on #435
@djencks Hi, please share a bit more information. Please answer below questions:

- Do you mean parser 1.0.1 worked but 1.0.2 doesn't? 1.0.2 is a patch, it changed nothing in AsyncAPIDocument object at all.
- Wouldn't it be easier for you to use `generateFromString` function and let generator parse it for you? The generator also uses AsyncAPI Parser

[2020-10-28 12:23] #387 closed

[2020-10-28 20:39] djencks commented on #435
- Yes, using the exact version of parser as the generator uses works, using 1.0.2 does not.  Javascript classes are still a bit of a mystery to me, but I suspect that at least in node a class retains information about the module from which it was loaded, so, as in Java, class name and code identity is not enough to establish class equality.
- I can (and will) use generateFromString, but I think it

[2020-10-28 22:05] djencks commented on #435
Actually I can't realistically use generateFromString because I need to generate multiple documents from the same source asyncapi file.

Adding a parse method to the Generator class that delegates to the parser might be cleaner than an additional export.

[2020-10-29 03:09] djencks commented on #435
Apparently I can omit the dependency on @asyncapi/parser or list it as a peerDependency and get the version installed by @asyncapi/generator.  However, at this point I think that exposing one or more parse methods on the generator is cleaner.  If you agree I'd be happy to supply a PR.

[2020-10-29 07:41] djencks commented on #435
I appear to have spoken too soon, and that I didn't clean up my environment sufficiently.  I don't think the peerDependencies idea works after all.

[2020-10-29 13:34] derberg commented on #435
@djencks you know what, I created a very simple basic project -> https://github.com/derberg/simple-example-generator-with-parser and to be honest, it could never work. I checked many parser versions, even went back to 0.18 version and still error is
[code]

The orygin of the problem is https://github.com/asyncapi/generator/blob/master/lib/generator.js#L154. Maybe instead of `!(asyncapiDocument ins

[2020-10-29 21:20] djencks commented on #435
I can't explain your results. My project works fine when the versions of the generator and parser are fixed and the parser version is 1.0.1, same as the generator.

It also works fine with my first proposed solution, exporting the parse method from the generator and using that instead of a separate parser.

Parsing appears to take a significant amount of time, so I do (pseudocode)
[code]

[2020-10-29 21:24] rv0 commented on #435
I can vouch in here here to say that @djencks project is working fine for me as well in the configuration he describes.
(I was the one who reported the initial error to him)

[2020-10-30 11:28] derberg commented on #435
@djencks thanks for the pseudocode example, it pretty clearly explained the used case 🙇

For me it is a valid use case for exposing internally used parser in the generator API. I also do not have a strong opinion though, if this is the best solution or maybe others would be better, so let me ask others.

@fmvilas @jonaslagoni could one of you share opinion. I'm totally fine with exposing parser in

[2020-10-30 15:49] derberg commented on #425
you know what, I did some tests locally and yeah, I decided to first write down supported scenarios:

1. local `html-template` without `node_modules` and local `generator` without `html-template` in `node_modules`
[code]

2. local `html-template` without `node_modules` and local `generator` with `html-template` in `node_modules`
[code]

3. local `html-template` with `node_modules` and local `gener

[2020-10-30 15:50] derberg commented on #391
@jonaslagoni you might want to have a look at the scenarios I described here https://github.com/asyncapi/generator/issues/425#issuecomment-719633496. I think I was able to reproduce your issue, please check my scenarios and confirm the same behavior

[2020-10-30 16:11] laat commented on #425
Cool, it's good to have the use cases documented. 👍

It still ignores the package-lock.json versions.

![image](https://user-images.githubusercontent.com/146559/97729051-90385f80-1ad2-11eb-9d18-f20486b9db73.png)

![image](https://user-images.githubusercontent.com/146559/97728763-3a63b780-1ad2-11eb-99ca-9af439589357.png)

[2020-10-30 16:50] derberg commented on #425
Ok, right, I did `npm cache clean --force`.

I created a project where I installed latest generator and old version of html-template without pdf generation support:
[code]

I run `./node_modules/@asyncapi/generator/cli.js http://bit.ly/asyncapi ./node_modules/@asyncapi/html-template --force-write -o output -p pdf=true`

and I got error but also the template was downloaded fresh, with lots of 200s

[2020-10-30 19:48] rez10191 opened #441 "Unable to generate html with array of arrays schema input"
#### Describe the bug
I've encountered the following error when trying to create an HTML document page for my AsyncAPI 2.0.0 schema.  I believe the schema to be valid by cross checking with [spectral lint](https://github.com/stoplightio/spectral).  This schema did work in earlier versions of `asynapi/generator` (last I'm aware of for sure was `asyncapi-generator@0.7.10`).

#### How to Reproduce
Cr

[2020-11-02 10:55] magicmatatjahu commented on #333
@derberg There can be used variadic options https://github.com/tj/commander.js/blob/master/docs/options-taking-varying-arguments.md like:

[code]

What do you think?

[2020-11-02 13:30] derberg commented on #333
I think it is getting more complicated 🤷

this `--` is strange, and also what if I want to disable one hook of one type and two hooks on another type, how would it look?

how about do it like with params:

[code]

Something custom would be handling the comma separated values I guess

[2020-11-02 14:19] magicmatatjahu commented on #333
@derberg When I started implement it, then I realized that variadic ptions will be hard to handle, so I followed in this same way as you proposed :D

[2020-11-03 16:33] #434 closed

[2020-11-03 20:47] jonaslagoni commented on #435
Yea I think we can expose the parser methods. Don't see any downsides doing this, unless you guys see a use-case where you want manually use a different version then the underlying parser 🤔?

[2020-11-03 22:18] jonaslagoni commented on #391
Here is what I observed.
Version
node: v13.9.0
Windows 10 Pro version 10.0.17134 Build 17134
npm: 6.14.8

Did one after the other and deleted what was necessary.
1. local html-template without node_modules and local generator without html-template in node_modules - works fine.
2. local html-template without node_modules and local generator with html-template in node_modules - Deleted the node_mode

[2020-11-04 09:01] derberg commented on #435
I definitely do not see a valid use case using a separate parser, so the best approach to solve @djencks use case is to expose the parser used by the Generator

[2020-11-06 12:53] derberg commented on #333
@magicmatatjahu I will work on this part of the issue `Come up with suggestion on how info about hooks should be documented in the template, so folks know what hooks can be disabled without reading the code` in my task about template for templates, where I have to come up with a template for templates readme files

[2020-11-06 12:53] #333 closed

[2020-11-06 16:34] derberg commented on #391
No way man 🤯 I tried it again and still fails for me 😄
I'm on node 14, but I don't think node version has anything to do with it

[2020-11-09 09:15] derberg commented on #326
@jonaslagoni I guess we can close this one or you want to keep it open until we are done with PoC on adding React as template engine?

[2020-11-09 18:17] #441 closed

[2020-11-11 09:33] derberg commented on #409
@GordeevArt hey man, is it still valid?

[2020-11-11 09:40] GordeevArt commented on #409
Yes, but I don't use it now.

[2020-11-12 17:34] derberg commented on #435
@djencks hey, generator 1.0.0 is out, you can start working on exposing parser as part of generator API

[2020-11-13 12:01] #402 closed

[2020-11-17 07:54] jonaslagoni commented on #250
@derberg guess we can close this? :thinking:

[2020-11-17 07:55] derberg commented on #250
si senior, thanks

[2020-11-17 07:55] #250 closed

[2020-11-17 08:18] mbande opened #449 "docker run fetches npm dependencies each time"
#### Describe the bug
whenever a want to generate html template based on provided docker command, it goes to fetch all node dependencies again.

#### How to Reproduce
as provided in [docs](https://github.com/asyncapi/generator#cli-usage-with-docker)

#### Expected behavior
the docker file should be organized in a way that it can use the installed npm modules in container volume

[2020-11-17 08:26] jonaslagoni commented on #449
Thanks for the issue @mbande. This is actually expected behaviour because each template defines which dependencies are required and are installed when you run the container, however as soon as the container shutsdown it forgets about it. If you want to preserve the dependencies you could make a volume bind to (I am assuming it is where it places the dependencies) `/usr/local/lib/node_modules` insi

[2020-11-23 05:01] several27 opened #451 "Circular reference causes a "Template render error" error"
Hey all,

New user here, absolutely loving the asyncapi and the generator. Thanks for all the effort!

Not 100% sure if the below is a bug or us defining the schema incorrectly, but would really appreciate a little bit of help. Just for the context: we're trying to express a schema, similar to how must data processing libraries like spark define their type system (recursive struct with fields).

#

[2020-11-27 08:27] derberg commented on #449
@mbande hey, do you have more questions? does it work for you better after mounting volume with deps?

[2020-11-27 08:33] derberg commented on #451
@several27 hey, sorry for late response mate, was super busy with other topic. Yeap, I solved support for curcular references in HTML and markdown templates but not for complex schemas like oneOf, anyOf and allOf (yeah, they are maybe not complex in general, somehow this is how I call them in my head 😄).

The real challange and why I did not support it from start is the lack of good sample data. W

[2020-11-27 08:38] derberg commented on #451
and yeah, I bet I will have to work on it first in the parser, but this is just implementation details. Most important is good sample data

[2020-12-08 08:34] magicmatatjahu opened #455 "Support TS in hooks and filters"
#### Reason/Context

At the moment `generator` doesn't support TS in hooks and filters. Problematic is that if someone wants to use TS in template he/she can't, because mentioned hooks and filters won't work due to handle them by generator itself, so generator should handle transpilation to JS before rendering process.

#### Description

I don't think it will be a breaking change. We should do som

[2020-12-16 14:13] magicmatatjahu opened #464 "Simplify code related to render engine"
#### Reason/Context

Working on https://github.com/asyncapi/generator/pull/453 with @jonaslagoni we concluded that code related to render engine - like choose of it and do additional operations like register the filters for Nunjucks - is not a easy to read and maintaince.

There are no breaking changes, the issue is only related to the standardization of the code through (for example) a `switch ca

[2020-12-16 14:17] jonaslagoni opened #465 "Generator watcher enters infinite loop with React template"
#### Describe the bug
Currently the transpiled files when using a React template are not ignored. This causes the generator watcher to go into an infinite loop since the very changes it detects are from its own process while rendering the files. The transpiler it uses does not care of the previous state of the files and always overwrites them.

#### How to Reproduce
I used the markdown template wh

[2020-12-17 16:32] magicmatatjahu commented on #464
We should also take care about issue with `nonRenderableFiles` in React case. Whole problem is described in this thread https://github.com/asyncapi/template-for-generator-templates/pull/6#pullrequestreview-554733655 TL;DR; We should copy non-JS files, not skip them.

[2020-12-17 16:40] magicmatatjahu opened #466 "Copy non-JS files in the React render engine"
At the moment the Generator in the React case doesn't copy non-JS files in template, but skipped them. Workaround is add files to `nonRenderableFiles` array in configuration of template in `package.json`, but for template like https://github.com/asyncapi/nodejs-template/tree/master/template it isn't cool and has big impact to development: Each non-JS file must be added manually to an array.

[2020-12-23 00:35] strobe opened #467 "'ag' name conflicts with well know search utility 'Silver Searcher'"
#### Describe the bug
[code]

#### How to Reproduce
on macos do
[code]
and as result you get
[code]

[2020-12-29 06:45] underfisk opened #468 "Typescript support and in-memory generation"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement? There are a huge variety of projects using Typescript and this library offers no typings which is very necessary for those projects, for example, most of the module imports need to be via "require" instead of import
- How will this change help? We can start using import without complaints, use Generator

[2020-12-29 09:10] magicmatatjahu commented on #468
@underfisk Hi! Thanks for an issue and for a comprehensive description.

As I see you would like to resolve [this](https://github.com/nestjs/nest/issues/5675) issue (btw. issue should be opened due to so that the NestJS community can find the issue more easily). It's very appreciate. If you need any help, feel free to ask here as well as on our [slack](https://asyncapi.com/slack-invite).

Exportin

[2020-12-29 09:19] underfisk commented on #468
@magicmatatjahu Thanks for the fast reply and yes i want to turn the nestjs package available for everyone, i had a custom package already for my personal usage but it was very agnostic to the application i was doing but some points pinned there such as file system permissions are kinda critical.
It isn't hard to ignore and still use import but that's bad because it skips the purpose of typescript

[2020-12-29 09:52] magicmatatjahu commented on #468
Exactly, by this, I came up with this example using a `react-web-component` (in my previous comment) which is similar to the SwaggerUIBundle.

As I said, types for `Generator` class won't be a problem, but we (team) have a free days to 4 January 2021, so after this day someone should take this task, or maybe if this is a urgent for you, if you want, you can create PR for that :) We will very appre

[2020-12-29 10:02] underfisk commented on #468
I will take a look at react-web-component but as you said it won't be similiar to the playground right? I need to check also the tradeoffs
Regarding types, i can wait, i have interfaces/classes that correspond on your API, it gave me some work but for now must be fine, the issue is always the same, i want to avoid having to maintain the types and check constantly the documentation which time i upd

[2020-12-29 10:07] jonaslagoni commented on #468
Just to mention, we have already implemented this and automated it in the [parser](https://github.com/asyncapi/parser-js/blob/b32899ea3dd6d8608fca32d29a42c3d459690fa3/package.json#L14). IMO we should we propobly follow the same setup if possible, I know I had some [issues](https://github.com/asyncapi/parser-js/pull/116) with jsdoc not generating the correct types right away, so we might need to do

[2020-12-29 10:11] underfisk commented on #468
@jonaslagoni But if you could generate that ahead of time and include in package json, NPM would include and typescript would detect (d.ts files) automatically

@magicmatatjahu Btw i forgot to suggest, what do you think about having "links" between the https://www.asyncapi.com/docs/specifications/2.0.0 (page) because i would like to add to jsdoc Message, Channel etc etc on the decorators, that way

[2020-12-29 11:23] jonaslagoni commented on #468
Yep, thats what I'm saying. We already have it working in the parser and should follow the same setup approach in the generator to enable types here 😄

[2020-12-29 11:26] magicmatatjahu commented on #468
@underfisk We generated types in AOT in parser (if we go with similar solution), so don't worry :)

Great idea about links :) Maybe I misunderstand your problem here, but links between sections work - you'll get url by clicking a given node in the right navigation (we don't have a anchors icon in headers).

[2020-12-29 11:29] underfisk commented on #468
@magicmatatjahu Makes sense generating it AOT xd but thanks
Ah ok i didn't notice that i thought it was like GitHub README where we had the anchor icon but now i see i can add reference, thanks again

[2020-12-30 07:17] derberg commented on #468
Hey, few cents from my side:

- I'm definitely with the idea to generate TS types the same way we already do it in the parser.
- Regarding `output` and `entrypoint` options, see how they are used with html-template in the playground at the moment https://github.com/asyncapi/playground/blob/master/src/server/routes/html.js#L27-L28. In case this is not enough please suggest what changes you need exa

[2020-12-30 07:31] underfisk commented on #468
@derberg I have noticed the difference between specifying the output as string instead of fs is that it writes to a single file right? The purpose of "In-memory" as i suggested is the output is stored as a Buffer instead of writing to disk (in the playground you write to os temporary folder) but i wanted to avoid writing on disk. I did test having that but there are a few caveats after with css, t

[2020-12-30 07:56] derberg commented on #468
@underfisk the problem with reusing template as dependency is known but not yet solved https://github.com/asyncapi/generator/issues/425 so at the moment just do what playground does, which means, first-run installs template and next ones reuse what is installed on the server.

the challenge with the idea to split render-to-string to a separate function is that then we would have too many functions

[2020-12-30 07:59] underfisk commented on #468
@derberg I agree with you with the current API, there are a lot of methods, in fact with static typing/generating declarations, the problem would be solved and probably the github api documentation would not be so necessary at all, that's a great advantage of using typescript
I understand there is a problem with #425 but what you guys do behind the scenes is fetch with the module name, what if we

[2020-12-30 08:07] derberg commented on #468
once you point to the local template (for example how we do when developing templates) we do not perform fetching but create a symlink in `node-modules` of the generator that points to the local template. I think it would be great if we could support a scenario that you add template do dependencies and we just reuse what you already have in `node-modules`.

[2020-12-30 08:12] underfisk commented on #468
@derberg In fact, even so if we pass the module you already have what you need, if you symlink or not, the content is passed to you already, that way you will prevent the constant "fetching". Well, in my case it did not run only 1 think the npm install of puppeteer etc, it did all the time the app was bootstrapping or each time a test suite was ran
Also the documentation regarding the generator ki

[2020-12-30 08:16] derberg commented on #468
We will help more in 2021, we need to load batteries now 😄

[2020-12-30 08:17] underfisk commented on #468
Indeed :D

[2021-01-02 19:14] brettle commented on #391
Fwiw, I ran into what appears to be the same issue when trying to run the generator from a github action. Worked fine on `linux-latest` and `macos-latest`, but failed on `windows-latest`. However, the same code worked fine on my local Windows 10 box. In the end, I worked around the issue by [creating a tar package of the local template directory and pointing the generator at that](https://github.c

[2021-01-03 06:13] fusionswap opened #469 "Issue with documentation https://github.com/asyncapi/generator/blob/master/docs/authoring.md"
The link https://github.com/asyncapi/generator/blob/master/docs/test/docs/dummy.yml on this documentation page is giving 404 error.

[2021-01-04 11:11] #469 closed

[2021-01-04 11:15] derberg commented on #467
@strobe I don't see any option other than use generator with `npx` instead, at least at the moment. We plan to work this year on generic CLI for asyncapi that does `asyncapi validate` or `asyncapi generate` or `asyncapi add` so this will be the time we will work on a different name of the cli.

do you see any other solution?

[2021-01-04 11:21] derberg commented on #469
@fusionswap thanks for spotting the problem, now it is fixed on the master branch.

[2021-01-04 12:30] strobe commented on #467
the main problem with this issue that a lot of tools (like emacs stuff) relayed on 'ag' command and will use a generator instead so a possible solution could be to come up with some more specific name/symlink like 'asgen', 'async-gen', 'asyng'.

I believe at least for macOS is possible to add a flag to 'brew' installation to don't make a symlink

[2021-01-04 13:48] derberg commented on #467
at the moment we already support 2 different names, so instead of `ag` you can use `asyncapi-generator`
https://github.com/asyncapi/generator/blob/master/package.json#L7-L8

I have to shamefully admit I have no idea how this information can help you 😅 but maybe some workaround would work with it for now?

[2021-01-04 16:47] derberg commented on #216
work on research how to do this is [here](https://github.com/asyncapi/shape-up-process/issues/21) (better view is [here](https://shapeup.asyncapi.io/cycles/6054195?bet=21))

[2021-01-05 09:09] #466 closed

[2021-01-06 20:12] strobe commented on #467
my workaround is very simple - I removed 'ag' and switched my configs to use different searcher app the 'ripgrep (rg)'
(but probably that doesn't acceptable for everyone)

More general workounds as you mention usage via 'npx' (but I not tested that it works with preinstalled 'ag' in system) or via 'docker'.

[2021-01-07 06:56] derberg commented on #467
`npx` is separate, it is like installing `ag` on-demand only for the moment you need to run `npx`, not global install.

[2021-01-07 11:11] #465 closed

[2021-01-11 00:30] #409 closed

[2021-01-11 11:22] nospam2000 commented on #451
here a real world example:
[code]
you might argue that this doesn't make much sense because the restriction to dpValueVariantType is actually no real restriction and you are right. This is more to document, that all that types can be used.

Maybe I will remove 'object' from the list, then it will make sense.

[2021-01-11 11:43] nospam2000 opened #479 "the 'examples' values should be honored when using type integer+oneOf"
#### Describe the bug
The automatically created examples don't honor the specified values of 'examples' and create invalid combinations of attributes. The result is a logically invalid example.

#### How to Reproduce
definition:
[code]

The created invalid example
[code]

'-1' means a scalar value, but for the example of arrayDimensions valueRank has to be '2'

#### Expected behavior
expected exam

[2021-01-12 08:30] derberg commented on #326
Closing. Nunjucks render engine is not something we will invest in imho and the new React engine has everything that is needed already

[2021-01-12 08:30] #326 closed

[2021-01-12 08:31] derberg commented on #435
@djencks hey, did you plan to work on this one?

[2021-01-13 10:37] derberg commented on #451
@nospam2000 thanks 🙏🏼

I think I would leave the object, and even put a real object there with circular refs. I don't think the example needs to make sense (look at our dummy asyncapi example 😄 ). Example that we need should represent as many possible options as possible

[2021-01-14 09:51] orfins opened #480 "Support later versions of NodeJS"
As suggested by @derberg in our conversation in Slack:

Personally I'd like to use this package in my `node v15.5.0` project and provide feedback.

[2021-01-14 09:58] derberg commented on #480
@finsor Thanks!

@jonaslagoni @magicmatatjahu some time ago I've set [this](https://github.com/asyncapi/generator/blob/master/package.json#L11) in the package.json but I feel like it would make sense to change to `">12.16"` to enable early use for those that what to use the latest node.js versions. I'm not 100% sure it is good because I have a bad experience with versions without LTS. Nevertheless

[2021-01-14 10:24] magicmatatjahu commented on #480
Yeah, sure but we should have info that we don't officially support non LTS versions, I mean, if someone will have a problem with Generator, then should first check if everything works in LTS :)

[2021-01-14 10:38] derberg commented on #480
@magicmatatjahu yeap, this part https://github.com/asyncapi/generator#requirements would need to be updated, with the latest setting in package.json + an explanation about non-LTS versions, same about NPM actually.  But with NPM 7 I already know that a few weeks ago somebody reported that it won't work with the generator

[2021-01-14 10:48] aleung opened #482 "How to use pre-install template?"
#### Reason/Context

We have all API files managed in one git repo and have CI pipeline to generate document from these files. I'm going to support asyncapi and use @asyncapi/generator to generate HTML document. The CI pipeline runs in a Docker container so I need to pre-install both generator and html-template into the Docker image.

There are several reasons that we don't want generator to insta

[2021-01-14 11:09] finsor commented on #480
@derberg Looks like it really doesn't work with npm 7:

[code]

So what do we do with the PR?

[2021-01-14 11:36] derberg commented on #480
yeap, it was reported in October and I worked on it https://github.com/asyncapi/generator/pull/440 but decided to drop efforts for npm 7. I see that node 15 is bundled with npm 7 -> so we have a problem 😄

still, I'm not sure it has anything to do with this issue and PR. In the end, it is about enabling others to give it a try to the generator with the latest node and npm as early as possible and

[2021-01-14 14:42] derberg commented on #482
@aleung Hey, thanks for raising this issue. I think it is very much related to https://github.com/asyncapi/generator/issues/425. @laat tried to fix it already.

Tbh it is frustrating to me that there are so many installation related issues and I could not find time to fix them yet 😞 . There are few installation-related issues that we should address imho. Atm I'm involved in major refactoring of ou

[2021-01-14 15:32] aleung commented on #482
@derberg Thank you for your quick response. My workaround works so it isn't in a hurry. I'm still new on this project and I'll try to see if I can contribute something.

Yes, we do have setup npm mirror. However there may be some restrictions on the modules/versions available on the mirror. It isn't a blocking issue so far but I wish my CI job can have less dependency on the environment.

[2021-01-16 21:58] nospam2000 commented on #451
Now in reality I needed to remove "type: boolean" because our booleans are in fact 1 bit integers :-)

[2021-01-21 00:47] #407 closed

[2021-02-02 00:05] Z5eyhS0uubejR0SVmX2O commented on #449
I would argue a container image should not need to pull a slew of software dependencies from the network in order to function.

Our use case only includes `@asyncapi/html-template` so we have created a custom image that has a `Dockerfile` line of:
```RUN ag /app/sample_contract.yaml @asyncapi/html-template```

I would happily paste the rest of the `Dockerfile` but I don't own the IP rights and am

[2021-02-05 15:04] thosaa opened #498 "generator fails to run"
#### Describe the bug

Our pipeline ran asynapi-generator fine on th 3rd feburary and now it does not.
I've checked it out locally and I get the same result.

Am I during something obviusly wrong?

Calling ag results in:
[code]

#### How to Reproduce
Installing latest version and run ag or asyncapi-generator

It does not need to be the latest version as it seems to be a dependency which fails.

[c

[2021-02-05 15:09] derberg commented on #498
@thosaa interesting, latest release was bumped only because of the bump of the parser that had some minor fix in the JSON schema of the spec 🤔 and before that I was just fixing tests for windows https://github.com/asyncapi/generator/pull/496/files

[2021-02-05 15:11] derberg commented on #498
oh damn, getting the same on mac 👀

[2021-02-05 15:22] thosaa commented on #498
@derberg Thanks for checking it out so fast. I'm glad to hear that I'm not the only one to see this.

[2021-02-05 15:32] derberg commented on #498
@thosaa @bjoernmartin PR with fix opened. Once CI is ok and I get approval I will merge and the rest will be done automatically

[2021-02-05 15:34] marcortw commented on #498
Thanks @derberg for the quick fix! Just ran into the same issue

[2021-02-05 15:36] derberg commented on #498
@marcortw sorry to hear

[2021-02-05 15:46] derberg commented on #498
generator-react-sdk is already released with a fix, soon it will be updated in the generator by a bot

[2021-02-05 16:05] derberg commented on #498
gimme some time to get it into the generator, our bot that was supposed to do it is already having 🍺 with other bots. Typical Friday

[2021-02-05 16:09] marcortw commented on #498
That 🚀 was meant more like "wow, you're fast" and thanking you for your effort 👍

[2021-02-05 16:12] #498 closed

[2021-02-05 16:17] derberg commented on #498
@thosaa @bjoernmartin @marcortw lemme know if 1.1.7 is ok
on my side all looks good

[2021-02-05 16:39] thosaa commented on #498
@derberg All good again. 👍 Thanks

[2021-02-06 09:05] marcortw commented on #498
Same here, it works. Thanks again!

[2021-02-06 12:45] bjoernmartin commented on #498
Yep, all back to normal. Thanks!

[2021-02-07 08:25] stavalfi commented on #480
@derberg this issue shouldn't be bothered by the fact that npm@7 is not working well with asyncapi. it can be easily fixed by downgrade npm version `npm i -g npm@<any-other-version>`.

I find this `node < 15` restriction very limited to my company because we are counting on specific features from node 15 in production code.

also, I don't think that a library in npm should determine the ___max___

[2021-02-09 08:13] derberg commented on #480
@stavalfi thanks for taking the time to share your thoughts.

I'm happy we agree.

It doesn't matter what technology you use internally to install `ag`. The issue mentioned here is with `npm` used by the generator internally to install templates. We still have issues with it because of not actively maintained `npmi`.
Interesting though would be to investigate if maybe yarn or pnpm have good and ma

[2021-02-09 08:18] orfins commented on #480
@derberg I think everyone agrees that it shouldn't be limited, so I'll update the readme in a few minutes

[2021-02-09 08:56] derberg commented on #435
@djencks hey, do you plan to work on this one or shall we close it?

[2021-02-09 09:00] #480 closed

[2021-02-09 11:46] eriadam opened #505 "issue with with npm 7.x"
#### Describe the bug

I am unable to run the generator with v15.8.0 (with npm 7.5.1).
It works fine with v14.15.0.

[code]

#### How to Reproduce

Install node 15, delete existing output folder, run generator.

#### Expected behavior

Docs are generated in the output folder

[2021-02-09 14:29] mchristensen43 commented on #505
I downgraded npm to 6.13.7 and first time that I ran "ag https://bit.ly/asyncapi @asyncapi/html-template -o example" all was fine and I got html generated. Second time I tried to run the command on some AsyncAPI yaml of my own I got an error and now when I try to rerun "ag https://bit.ly/asyncapi @asyncapi/html-template -o example" I get the same error:

`internal/modules/cjs/loader.js:883
  throw

[2021-02-09 14:44] stavalfi commented on #480
@derberg @orfins Thanks for your time and your cooperation.

### Small Proposal:

I'm not sure I fully understand what goes internally inside the generator but maybe, just a proposal, avoid downloading your dependencies directly using a specific package-manager.

In our company, we use Yarn with workspaces and it seems to take too much time to run a small generator script because ___almost every t

[2021-02-09 15:04] stavalfi commented on #505
@mchristensen43 just to make sure what is the source of the bug, can you install commander (npm i commander) and see if thats help, or you get more errors after that?

[2021-02-09 15:32] derberg commented on #480
Oh, these exclamation marks were unnecessary 😅

Yes, the generator has this issue that it somehow ignores already available dependencies and downloads them again, there is an issue with it, we did not find a solution for it. It should work this way, that if you want you can download deps on your own and the generator will get a symlink to the dep.

Atm, we do not have a great idea how to fix it. W

[2021-02-09 15:40] mchristensen43 commented on #505
Tried installing commander. Then got other module missing errors (minimatch, @asyncapi/parser, node-fetch, ajv) and am now getting:

/usr/local/lib/node_modules/@asyncapi/generator/lib/templateConfigValidator.js:6
const ajv = new Ajv({ allErrors: true });
            ^

TypeError: Ajv is not a constructor
    at Object.<anonymous> (/usr/local/lib/node_modules/@asyncapi/generator/lib/templateConfig

[2021-02-09 16:36] stavalfi commented on #480
@derberg haha you are right!

![image](https://user-images.githubusercontent.com/12954665/107395479-87115280-6b05-11eb-8dc7-af394ae0198d.png)

I wasn't sure where to make the PR and also I couldn't find a reference for this env-var in async-api github org (https://github.com/search?q=org%3Aasyncapi+PUPPETEER_SKIP_CHROMIUM_DOWNLOAD&type=code)
please review the pr: https://github.com/asyncapi/html-t

[2021-02-09 19:10] derberg commented on #480
@stavalfi you picked the right place to write about it, thanks!

[2021-02-09 19:14] derberg commented on #505
@mchristensen43 I'm afraid you will have to downgrade to node 14 until we find a solution 😞

[2021-02-09 19:37] djencks commented on #435
It turns out for my use case it doesn't make any sense to use the Generator, it is much much simpler to use the parser directly and manage templates myself.  Therefore, I don't expect to work on this any more.

[2021-02-09 20:11] stavalfi commented on #505
@mchristensen43 I have node 15.7.0 with npm 6.14.11 and all working for me. i generated typescript types multiple times + doc website.

[2021-02-09 21:47] derberg commented on #505
well this is confusing 😕 @stavalfi did you use the CLI like @mchristensen43 or generator as a library?

[2021-02-10 12:48] stavalfi commented on #505
[code]

[code]

[2021-02-10 19:29] derberg opened #507 "Enhance API docs with information about results of code generation with generateFromString using entrypoint"
#### Reason/Context
The problem is described here https://github.com/asyncapi/playground/pull/79. It must be clear that returned data is not content but an object with content and metadata + what is this metadata, and that it is only with React renderer.

#### Description
Probably JSDoc must be only updated. Of course, some additional section in the readme would be also welcomed 😄

[2021-02-10 19:41] jonaslagoni commented on #507
Quick note it might actually not be a feature but a bug. Think the `generateFromString` should always return the content as is regardless of whether it is a Nunjucks or React template.

If it is the case remember to change the playground afterwards.

[2021-02-10 21:00] alex-mueller commented on #505
In ran into the same issue.
node --version: v14.15.1
I downgraded npm to 6.13.7 to work around the initial issue. Since I'm using Windows with nvm to manage the NodeJS versions I ran into another issue where npmi -> global-npm complains about `MODULE_NOT_FOUND` (npm).
Now I'm running the generator like
`yarn cross-env GLOBAL_NPM_PATH=C:\Users\*\AppData\Local\Yarn\Data\global\node_modules\npm ag ..

[2021-02-11 07:43] mchristensen43 commented on #505
Temporarily gave up on making it work on my Mac and am now running it through Docker. Something like:

docker run --rm -it -v $PWD:/app/ asyncapi/generator -o /app/output /app/my_asyncapi_file.yaml @asyncapi/html-template --force-write

Works like a charm.

[2021-02-11 09:15] eriadam commented on #505
try from scratch: remove the output as well as your node modules

[2021-02-13 00:13] #429 closed

[2021-02-16 10:19] Ostefanini commented on #505
I've encountered the same issue as you, downgrading my environment using:
`npm install -g npm@6.13.4`
`nvm install  v12.20.2`
`nvm use  v12.20.2`
`rm -rf node_modules package-lock.json async-html`
`npm i`
`npm i -g cross-env`
`ag -o async-html --force-write ./docs/asyncapi.yml @asyncapi/html-template ; serve -s async-html` (note the use of `serve` here to run a simple http server on localhost)

wo

[2021-02-16 16:52] derberg commented on #505
any issues you might spot for now with `cross-env` when using HTML template or `chokadir` when running `ag` command should be fixed with the latest generator and html-template

[2021-02-16 20:23] muenchhausen opened #512 "map schema base url to local folder"
#### Reason/Context

1. The resolution of schema references with relative pathes e.g. `../mypath` depend on the implementing library and may not work. Absolue URIs solve the problem.
2. During unit testing, you often need to use local JSON Schema files instead of downloading the schema from a Web-Server.
3. In cases where a schema URI is an [identifier](https://json-schema.org/draft/2019-09/json-s

[2021-02-19 09:21] derberg commented on #512
@muenchhausen hey, interesting use case. In general, I have nothing against the idea. I'm more concerned about the flags you suggested. They depend on each other, therefore I'm not in favor to keep them separate. When you write map, I immediately think about Docker CLI and how the mapping of directories works there.

I also have a question about the PR, you set there an option of the Parser called

[2021-02-22 17:36] jonaslagoni commented on #151
Template public here - https://github.com/asyncapi/ts-nats-template/

[2021-02-22 17:36] #151 closed

[2021-02-22 17:37] jonaslagoni commented on #152
Template is located here - https://github.com/asyncapi/dotnet-nats-template

[2021-02-22 17:37] #152 closed

[2021-02-22 17:38] jonaslagoni commented on #377
This is now fully supported check out the docs https://github.com/asyncapi/generator/blob/master/docs/authoring.md

[2021-02-22 17:38] #377 closed

[2021-02-24 08:16] magicmatatjahu opened #515 "Support for asynchronous filters in Nunjucks"
I noticed during the `model-sdk` integration in `java-spring-template` that we do not have support for asynchronous filters. Unfortunately, our `sdk-model` generates models asynchronously. I have an idea how to fix it and add asynchronous filters :)

Related to https://github.com/asyncapi/shape-up-process/issues/49

[2021-02-24 09:51] derberg commented on #505
@Ostefanini @eriadam @briggySmalls @mchristensen43 @alex-mueller @stavalfi thanks a lot to all of you for your input on this issue. I started working on a fix, if you have something to add, please please do

https://github.com/asyncapi/generator/pull/517

[2021-02-26 11:12] derberg commented on #391
@jonaslagoni I suggest we close this one. While working with #517 and seeing the same behavior with arborist, imho we should just accept how npm tools work. This means that if you refer local template with path, and this template was not initially installed with `npm i` (I mean there are no node_modules) then this is normal the generation fails as some modules/deps are missing. Otherwise, we would

[2021-03-01 08:23] derberg commented on #425
come one bot, can't you see I'm working on it, doh!

[2021-03-01 08:58] derberg opened #521 "React templates make generation process longer"
#### Describe the bug

[code]

Markdown template is the simples one we have, yet it takes 5s to generate `asyncapi.md` with it. Which is really a lot and I bet it will be worse with more complicated templates.

#### How to Reproduce

Just try to generate with HTML template and then markdown one and you'll see that there is a time difference each time.

The problem is in transpilation process with

[2021-03-02 09:28] jonaslagoni commented on #391
@derberg yes agreed, let's close it.

[2021-03-02 09:28] #391 closed

[2021-03-02 10:00] derberg commented on #482
@aleung hey, this https://github.com/asyncapi/generator/pull/517 should fix the issue. Have a look if you can, especially the integration tests to make sure the way I check "using templates as dependency" makes sense

[2021-03-02 10:01] derberg commented on #505
@Ostefanini @eriadam @briggySmalls @mchristensen43 @alex-mueller @stavalfi PR is ready for review. Have a look if you want. This PR adds support for latest node and npm + adds integration tests and debug information that will help us more in the future to fix and troubleshoot those issues

[2021-03-02 10:03] derberg commented on #425
@laat hey, it took some time, but it is finally here https://github.com/asyncapi/generator/pull/517
if you want and have time, please have a look at this PR

your use case will be fixed + I've added the integration tests that we were always missing

[2021-03-02 11:49] jonaslagoni opened #520 "Create tests for the different render engines"
#### Reason/Context
At the moment we do not have a single test ensuring that the rendering works as expected. We need this to ensure consistency in PR's so we know it works as expected and does not introduce unintended side effects.

[2021-03-02 12:00] derberg commented on #520
something more than that the integration test that I introduce? I mean the one that uses both render engines and then validates the result against the snapshot?

[2021-03-02 12:04] jonaslagoni commented on #520
I would say so yes @derberg, when changes are introduced such as https://github.com/asyncapi/generator/pull/518 we have no tests ensuring the expectation of the functions.

[2021-03-02 12:06] derberg commented on #520
@jonaslagoni maybe we should just not allow features without tests. I for example could not imagine changing installation without providing tests. I actually added tests first to be able to work on changing the code responsible for installation. To many of us started working on the project and it will be easier to break things now. So I would vote, ship slower but with tests

[2021-03-02 12:08] jonaslagoni commented on #520
I agree, similar to our shape-up process they have to include tests. @magicmatatjahu @smoya @fmvilas thoughts?

[2021-03-02 12:10] fmvilas commented on #520
Yes, before we used to be Lukasz and me only and had to rush a lot but now we can just slow down and ship better quality software. That includes tests, of course.

[2021-03-02 12:29] smoya commented on #520
I agree folks @derberg and @fmvilas here.
In addition, I think we should encourage adding tests not only for the feature you write but for the surroundings. As stated in the Clean Code book, "Always leave the campground cleaner than you found it".

[2021-03-02 13:16] derberg commented on #521
@magicmatatjahu good point, done

[2021-03-03 05:39] aleung commented on #482
@derberg Thanks. I've looked into the test project. It should already cover the case in this issue.

[2021-03-03 08:30] derberg commented on #482
@aleung thanks for taking the time 🙇🏼

[2021-03-03 08:34] #505 closed

[2021-03-03 08:34] #425 closed

[2021-03-03 08:34] #449 closed

[2021-03-03 08:41] derberg commented on #449
Release 1.2 enables support for latest node and npm and fixes all known installation issues. In case you see some other issues, please create a new issue. Please use `--debug` flag when you experience issues with the generator and in the issues mention the troubleshooting logs. Thanks!

[2021-03-03 08:41] derberg commented on #505
Release 1.2 enables support for latest node and npm and fixes all known installation issues. In case you see some other issues, please create a new issue. Please use `--debug` flag when you experience issues with the generator and in the issues mention the troubleshooting logs. Thanks!

[2021-03-03 08:41] derberg commented on #482
Release 1.2 enables support for latest node and npm and fixes all known installation issues. In case you see some other issues, please create a new issue. Please use `--debug` flag when you experience issues with the generator and in the issues mention the troubleshooting logs. Thanks!

[2021-03-03 08:41] derberg commented on #425
Release 1.2 enables support for latest node and npm and fixes all known installation issues. In case you see some other issues, please create a new issue. Please use `--debug` flag when you experience issues with the generator and in the issues mention the troubleshooting logs. Thanks!

[2021-03-03 15:41] gavanfantom opened #523 "EACCESS: permission denied"
#### Describe the bug
Running a simple ag command fails with a permission error

#### How to Reproduce
[code]

#### Expected behavior
I expected ag to generate some nice pretty HTML, not try to install files in a system location. I expected ag to find the previously installed template. I also expected that if ag did need to download anything, it would not do so into a place that needed root privil

[2021-03-03 15:41] gavanfantom commented on #523
I should note that this is with version 1.2.0.

[2021-03-03 15:50] jonaslagoni commented on #523
@gavanfantom thanks for the issue. Just to get some more information are you saying this worked in the previous version?

[2021-03-03 16:03] derberg commented on #523
@gavanfantom yes, please specify if the previous version has the same effect for you. From debug I can see that all looks good on the generator side, and looks like the app just doesn't have the right to do any changes in `/usr/local/lib/`

[2021-03-03 16:08] jonaslagoni commented on #523
@derberg does the generator actually check the global `node_modules` directory for the template? 🤔 i.e. if he had permissions to read in `/usr/local/lib/node_modules/` would it use this path `/usr/local/lib/node_modules/@asyncapi/html-template` or only look in `/usr/local/lib/node_modules/@asyncapi/generator/node_modules/`?

[2021-03-03 16:12] gavanfantom commented on #523
I have the same problem with version 1.1.11.

[2021-03-03 16:18] derberg commented on #523
Yeap, this use case never worked and won't work with the latest version we released today. We use https://github.com/sindresorhus/resolve-pkg to resolve dependencies, and we look as @jonaslagoni wrote, into `/usr/local/lib/node_modules/@asyncapi/generator/node_modules/`.

this is why you are getting
[code]

but then we try to install it again, into `/usr/local/lib/node_modules/@asyncapi/generator/

[2021-03-03 16:40] gavanfantom commented on #523
I have just tried reinstalling with:

sudo npm -g install @asyncapi/generator --unsafe-perm=true --allow-root

(you did mean @asyncapi/generator rather than generator, right?)

I'm still getting the same error.

[2021-03-04 09:28] derberg commented on #523
yeap, sorry, thinking with shortcuts 😄

can you try doing `chmod +w /usr/local/lib/node_modules`

[2021-03-04 10:22] magicmatatjahu commented on #520
Simple integration tests are added in this PR: https://github.com/asyncapi/generator/commit/2f64f1bf01224497dfe256d309e7e9ae9a0290bf
Unit tests (based on mocks) for React will be added in this PR https://github.com/asyncapi/generator/pull/518

[2021-03-04 10:26] magicmatatjahu commented on #464
@jonaslagoni  I have an idea with `AbstractRenderer` as class and then separate implementations for React and Nunjucks. By this solution we can remove `if-logic` like `if isReactRenderer(...) then ...`.

[code]

What do you think?

[2021-03-04 10:32] jonaslagoni commented on #464
That sounds like a good idea!

[2021-03-04 11:55] #515 closed

[2021-03-04 12:50] fmvilas commented on #455
I'm curious how many times this has been a problem 😄

[2021-03-05 06:47] aleung commented on #482
@derberg I tried the new release and got error:

[code]

This is how I installed them in `Dockerfile`:
[code]

[2021-03-05 09:14] derberg commented on #482
@aleung the issue is that you are installing html-template here as a global dependency, this cannot work. Just take any project in node. Let's say you want to use lodash there, but do not want to add it to dependencies and instead you install it globally. Require/import will not work in this case. This is the case you try to do here.

in your case we look for the module here `/usr/local/lib/node_m

[2021-03-05 11:28] jonaslagoni commented on #216
Solution details here: https://github.com/asyncapi/shape-up-process/issues/43
Repository for the library here: https://github.com/asyncapi/generator-model-sdk/

[2021-03-05 11:28] #216 closed

[2021-03-05 11:38] jonaslagoni opened #527 "Expose output directory to the template files"
#### Reason/Context
I have a use-case where I need the absolute path to the output files, but this is currently not possible through a template.

#### Description
I am not sure if the best approach is to expose the generator object (this is what the hooks have access to) or simply the output directory.

Example usage with generator object:
[code]

[2021-03-05 12:35] derberg commented on #527
I say: if we already pass the generator object to hooks then why not passing it to render engines.

I'm only curious what is the reason it is not done like this already 🤔 there either was no use case or there might be a super good reason to not do it.

[2021-03-05 13:05] #455 closed

[2021-03-05 13:13] jonaslagoni commented on #527
I don't recall we ever had the use-case. As I can see without deep diving, there should not be any reason the generator object cannot be exposed in the rendering 🤔

[2021-03-06 09:29] aleung commented on #482
Ok, then I can rollback to use my previous workaround: generate a dummy asyncapi file during Docker build to install the template. Not a problem to me.

However, I saw a lot of other tools which use npm package as plugin can use global installed plugin. Since ag can be installed globally, it ought to support global installed plugin as well.

[2021-03-06 17:22] chatne commented on #523
I was getting some issues when using generator version >=1.2.0. I used yarn but was able to contain the issue using npm with Docker. I simplified this as much I could. Using Node 14:

[code]
This works and generates fine. However if generator version is changed to 1.2.0 or newer this will fail:
[code]
Hopefully this helps

[2021-03-07 02:16] gavanfantom commented on #523
drwxr-xr-x 6 root root 4096 Mar  3 12:37 /usr/local/lib/node_modules/

It does have write permission, but only for root. Allowing non-root users write access to this directory can not possibly be the right answer.

I'm also a bit confused as to why "this use case never worked and won't work with the latest version we released today." This use case is literally the one documented in README.md ("Ins

[2021-03-07 22:42] muenchhausen commented on #512
I implemented your suggestions - see https://github.com/asyncapi/generator/pull/529

[2021-03-08 07:58] jonaslagoni commented on #482
Just to quickly mention this, the generator supports local path to templates so the following could be done if I am not mistaken:

`ag -o ./ --force-write -p singleFile=true index.yaml /usr/local/lib/node_modules/@asyncapi/html-template --debug`

[2021-03-08 08:07] jonaslagoni commented on #482
Furthermore @derberg I can see there is a [resolve-global](https://github.com/sindresorhus/resolve-global) package we can take advantage of. I actually see this as a great use-case

[2021-03-08 08:10] jonaslagoni commented on #523
Yea I agree with you here, @gavanfantom what would you like to see it changed to (in case we don't install templates where the generator is installed)?

[2021-03-08 08:30] aleung commented on #482
Another one: [requireg](https://www.npmjs.com/package/requireg)

[2021-03-08 08:41] jonaslagoni commented on #482
@aleung would you like to create a feature request? Didn't realize this issue is closed 😄

[2021-03-08 09:09] derberg commented on #482
yeah, no need to create another issue. I don't want it to keep waiting again few months. I'll give it a try this week with `resolve-global` as the author is the same as for the other package we use for resolving deps. Most important for me will be to make sure we can test this properly. To make sure tests can run on local, I'll have to first install somehow the template globally inside the test

[2021-03-08 09:19] derberg commented on #523
I'm not sure what is your expectation here towards the generator

I guess I didn't make myself clear, sorry. I meant that `npm -g install @asyncapi/html-template` global installation of templates was never supported. Just to imply that it is not a bug that generator cannot access a global template. I'm gonna try to enable support this week https://github.com/asyncapi/generator/issues/482#issuecomm

[2021-03-08 09:40] aleung commented on #482
@jonaslagoni Actually this issue has not been solved yet :smile: .  My original issue description is about using pre-installed **global** template.

@derberg Thanks for your active support!

[2021-03-08 09:43] derberg commented on #482
yeap, I have to admit I missed that `-g` in `npm add -g @asyncapi/generator @asyncapi/html-template` also applies to the `html-template`

[2021-03-08 10:23] gavanfantom commented on #523
I'm not really sure what the ideal solution would be.

I would have thought though, that something like the following should work:

* Provide a way to explicitly install a template (and do nothing else). Ideally with npm -g, but if it's a separate ag invocation that is documented to require root, and promises not to do anything other than installation, that would probably be ok.
* If a template is

[2021-03-08 13:38] derberg commented on #523
let us then first make sure we support globally installed templates too. Once this works, let us reiterate again to see what else could be done on the generator side.

I'll make sure to extend logs as much as possible when I will work on enabling global templates support.

if you use CLI it will install under user local where the generator is installed globally. Otherwise, it will install in the p

[2021-03-09 08:52] derberg commented on #467
I'm gonna close this one, we will not introduce any name changes to the current CLI as we already started working on a new one -> https://github.com/asyncapi/cli/issues/1 and it will not be `ag` but `asyncapi`, which will solve this problem once we release and deprecate `ag`

[2021-03-09 08:52] #467 closed

[2021-03-09 22:02] derberg commented on #482
PR is opened https://github.com/asyncapi/generator/pull/530
just need few hours to figure out integration tests of this global package support

[2021-03-10 12:21] aleung opened #531 "Error when using global installed generator"
#### Describe the bug

As I described in #482: I install generator globally and generate a dummy file to get template installed.

The same commands worked fine in v1.1.11 but failed in v1.5.0.

#### How to Reproduce

Below is my commands and the output.
[code]

#### Expected behavior
No error happen.

[2021-03-10 12:28] aleung commented on #531
[code]

I found the `generator-filters` at `/usr/local/lib/node_modules/@asyncapi/generator/node_modules/@asyncapi/generator-filters`

[2021-03-10 12:33] derberg commented on #531
It's gonna by super hard to reproduce:

[code]

I don't think it matters if I use nvm or not. Do you get it on local? what is your operating system?

[2021-03-10 12:49] aleung commented on #531
I used this Dockerfile:

[code]

I don't think the steps before install @asyncapi/generator matters but I paste them as well.

When I fixed the version with `npm add -g @asyncapi/generator@1.11.1`, there was no error.

[2021-03-10 16:55] derberg commented on #482
PR ready for review
@aleung the other issue, let's leave it as separate one

[2021-03-10 16:55] derberg commented on #523
PR is opened https://github.com/asyncapi/generator/pull/530

[2021-03-12 00:51] reselbob opened #532 "Error: Cannot find: /node_modules/@asyncapi/generator/node_modules/@asyncapi/nodejs-template/node_modules/@asyncapi/generator-filters'"
Help?

I am running some pretty vanilla generation code using the Generator. The [readme here ](https://github.com/reselbob/simpleasyncapi/blob/main/README.md)shows you how to recreate the error in Katacoda

I get this error on build

[code]

Here is the code

[code]

Here is the file system

[code]

Help? I've been struggling with this for an hour or two.

If for some reason this is an error of m

[2021-03-12 07:39] magicmatatjahu commented on #532
@reselbob Hi! Thanks for reporting issues! We have identically issue submitted 2 days ago https://github.com/asyncapi/generator/issues/531 and also PR for fixing it https://github.com/asyncapi/generator/pull/530
Please wait for review/merge. We apologize for inconvenience.

[2021-03-12 07:40] reselbob commented on #532
Wow!!!

Thank you for your fast response!

[2021-03-12 08:38] derberg opened #533 "Extract all debug logs texts to a separate file"
#### Reason/Context
We have `debug` flag that enables logging of some additional info for the user. Log texts are "hardcoded" in code and therefore again hardcoded in tests.

#### Description
Move log message texts to a separate file and then import log messages in code and tests. This way, when you change or improve a log message, you do it in one file and do not touch tests at all

[2021-03-12 12:45] #482 closed

[2021-03-12 12:45] #523 closed

[2021-03-12 12:45] #531 closed

[2021-03-12 12:45] #532 closed

[2021-03-12 13:11] gavanfantom commented on #523
Unfortunately this doesn't entirely resolve the issue, as even with the new version we still get:

$ ag --debug api_description.yml @asyncapi/html-template
Errors while trying to resolve package location at undefined TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined
    at validateString (internal/validators.js:124:11)
    at Object.join (path.js:1039

[2021-03-12 13:28] derberg commented on #523
If the template is installed globally, it should not log `Template installation started because the template cannot be found on disk`. What do you mean by "installed globally"? Where is the html-template located + are you sure you are on latest generator? `Errors while trying to resolve` - this error has changed a bit in new version

[2021-03-12 16:07] M3lkior opened #535 "Add specification extensions sample in the dummy.yml"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
The generated html doc not showing the specification extension block
- How will this change help?
Show how it is rendering
- What is the motivation?
Trying to work on the bindinds display, i'm not able to easily see how the actual  specification extension block works

#### Description
Please try answeri

[2021-03-12 16:27] gavanfantom commented on #523
Not to worry, it turns out that somehow an old version had got installed that npm didn't replace with the latest. I have manually cleaned up after npm, and reinstalled, and it works much better now.

[2021-03-12 19:00] derberg commented on #523
Awesome 🚀

[2021-03-13 01:31] nospam2000 commented on #479
please let me know if anything is unclear in my original description.
At the moment I have to patch the generated HTML by hand every time I create the documentation.

[2021-03-13 12:46] chatne opened #537 "Template watcher does not work with global templates"
# Template watcher does not work with global templates

Recently added support for globally installed templates <https://github.com/asyncapi/generator/pull/530> does not mention anything about `--watch-template` related functionality and the watcher does not seem to work with global templates.

When using watch template with globally installed template, the generator fails with:

[code]

## How to

[2021-03-13 18:11] derberg commented on #537
@chatne just curious, why you need a watcher for a global template? watcher is for template development

[2021-03-14 00:14] chatne commented on #537
Yeah I just noticed the note in the generator help.

Anyway I found it very convenient for messing around since it also watches the API document. I am not (yet) an expert on how to write coherent API documents so I wanted to see how things look while I write and edit the specification. The watcher made this a whole lot less annoying. I wonder if anyone else is doing the same.

This is not an impor

[2021-03-14 09:14] chatne commented on #537
Maybe if the watcher followed the same logic with the generator the parameter could just be `--watch` and one could use it to development of both template and the specification. Why restrict the watcher for only template development?

Or I just write my own filewatcher since my specification is split to multiple documents now and the generator watcher only sees the main one.

[2021-03-15 08:54] jonaslagoni commented on #537
I think this is a very real use-case, not the part about watching the global template (unless someone comes with a use-case for that), but use the watcher to trigger documentation changes. I have even done this before.

I suggest we adapt the watcher to "try" watch files, if it cant it logs errors if `--debug` flag is set. Meaning in this use-case it would still watch the documentation and just ig

[2021-03-15 09:06] derberg commented on #537
tbh, if there is a documented workaround, then I would focus on making sure new watcher here https://github.com/asyncapi/cli covers all required use cases. Maybe better to close this issue saying we recommend using a workaround for now, and open a new issue in the CLI, and list there all possible use cases?

[2021-03-16 22:05] alextrs opened #538 "Generator doesn't pull template from private repo"
#### Describe the bug
After upgrade to 1.6.0 version from 1.1.4, ag stopped to recognize npm configuration to use private repository

#### How to Reproduce
[code]
#### Expected behavior
Ag should pull template from private repository

[2021-03-17 12:41] derberg commented on #538
@alextrs the reason is that with 1.2 we no longer use global npm to install templates, we had to change it to not only support the latest node and npm7 but also to solve some installation-related issues.

tbh, we were not aware people use private registries with generator, so sorry for breaking your functionality.

now we use Arborist for installation (https://github.com/asyncapi/generator/blob/ma

[2021-03-17 16:28] vishesh13byte commented on #533
Hello sir , I have cloned the repo and understand the generator project . I have also watched that "streetlight" tutorial , can you help me out on how to go about things to solve this issue . I am a newbie and I want to contribute .

Thank you sir.

[2021-03-17 17:05] derberg commented on #533
@vishesh13byte hey. the point here is to more all log debug messages like this https://github.com/asyncapi/generator/blob/master/lib/generator.js#L369 to a separate file with constants that would hold the log messages so later we do not duplicate the same log message in tests like `https://github.com/asyncapi/generator/blob/master/test/test-project/test-project.test.js#L108`.

Ideal world: all log

[2021-03-19 08:35] abhijit-hota commented on #533
Hello @derberg. I understand the situation and what one has to do. I can go ahead with making the first draft which will just consist of the plain strings.

However, wanted some more clarity on what to do with messages with variables.

I understand this but how should I plan to solve scenarios like that of the `templateName` in the [test file](https://github.com/asyncapi/generator/blob/master/test

[2021-03-19 08:43] derberg commented on #533
`logsConstants.js` should be enough?

in the case of dynamic values inside log messages, you have no other choice than to provide a function where you can pass a dynamic function 🤷🏼‍♂️ unless there is some better way I'm not aware of. I don't think it is bad, it is just a simple function that returns a simple string and that is it.

more important is to make sure you folks do not duplicate your ef

[2021-03-19 08:48] abhijit-hota commented on #533
@derberg

Yes. I was overcomplicating things when I was thinking of how to do it. 😅 I get it now.

I'll start working on this if @vishesh13byte isn't currently working on it right now. 👍

[2021-03-19 08:52] vishesh13byte commented on #533
Yes sir , I am already working on it

[2021-03-20 13:00] vishesh13byte commented on #533
@derberg  Sir , I have made a pull request . Can you please review my pull request. Thanks for helping me out ,learnt a lot of new things working on it and looking forward to solve more issues and also this issue if anything goes wrong .

Thank you.

[2021-03-21 20:16] vishesh13byte commented on #533
@derberg sir , I have done all the necessary changes and the `npm run lint` is not giving any error and also when I ran command `npm run test` ,it created a new output file in test folder . I have tried my best in rectifying all the errors ,the latest PR is giving 8 successful checks . Please review my PR sir.

Thank you.

[2021-03-22 09:17] derberg commented on #209
Closing this one as any work and feedback should continue here https://github.com/asyncapi/go-template/issues

[2021-03-22 09:17] #209 closed

[2021-03-22 11:47] derberg commented on #533
@vishesh13byte that was fast! onto the PR, cheers

[2021-03-22 11:53] vishesh13byte commented on #533
Thank you @derberg sir for helping me out ,it is a really good start and hopefully I can solve more issues 😄.

[2021-03-22 11:58] derberg commented on #533
no worries, just keep in mind that you don't have to approach me with `sir`. In this community we are equal on all levels, even the age, even if I'm older 😆

[2021-03-22 12:09] vishesh13byte commented on #533
I really appreciate this ,thank you for the nice words and the guidance😄.

[2021-03-22 19:03] #533 closed

[2021-03-31 00:29] #352 closed

[2021-03-31 08:16] derberg commented on #366
installation logs are already hidden and shown only when debug flag is passed. We still need to hide stack tract in other case

[2021-04-06 11:37] #535 closed

[2021-04-12 08:16] #435 closed

[2021-04-18 08:05] derberg commented on #347
I don't think it makes sense to keep it open, we have ongoing efforts for new CLI with completely new code and nobody will work on watcher here in the generator anytime soon

[2021-04-18 08:05] #347 closed

[2021-04-21 10:04] magicmatatjahu commented on #414
Maybe we should switch to JSON Schema for validation? 🤔

[2021-04-21 10:38] derberg commented on #414
yup https://github.com/asyncapi/generator/issues/414#issuecomment-693354477 might be the case here

[2021-04-21 10:40] magicmatatjahu commented on #414
Ahh sorry 😅 I didn't see it.

[2021-04-22 05:45] daniloab opened #568 "generate yaml final file from a bunch of separated files"
Hi, I have a package into my application and for each event file, it will be placed beside it the YAML file. And, from a generate function I want to do a bundle of them and generate a final file with each one placed into one place.

### Files structure
[code]

### userSignUp.yaml
[code]

### userSignIn.yaml
[code]

### async api header info config (asyncapiHeader.yaml)
[code]

So, what I'm looking

[2021-04-22 06:03] MikeRalphson commented on #568
Do you have `$ref`s linking your files together? From your examples, it is not clear.

[2021-04-22 06:06] MikeRalphson commented on #568
https://www.npmjs.com/package/oas-resolver may do what you need.

[2021-04-22 06:35] derberg commented on #568
May I ask why you need to contact it all into one file in the end? I think I'm missing something.

I just had some fun with your files, this is how they look like, assuming flat structure of files in single directory:

**asyncapi.yml**

[code]

**userSignIn.yml**

[code]

**userSignUp.yml**

[code]

Then I run the generator against main file and get docs generates as our JS Parser can handle and r

[2021-04-23 02:16] daniloab commented on #568
HI, I prepared a better example and cleaner:

https://github.com/daniloab/bull-named-asyncapi-example

the main idea is: get the all yml files, bundle them and generate a the final file with all yml into it without duplicating info

the expect is a generated file like this below:

[code]

as I said, the `generateAsyncApi.ts` is using the `swagger-jsdoc´ to try do this, but return errors like:
- `n

[2021-04-26 12:05] derberg commented on #568
I'm not sure I can help you here. I tried running the project, but the structure of the object where you get an error is super bizarre for me:
[code]

like swagger and asyncapi in one, I'm not sure what you're trying to do with this openapi package 🤷🏼

You mean you want user to see entire file without `$refs`, so a dereferenced file. So just use https://github.com/APIDevTools/json-schema-ref-parse

[2021-04-28 06:45] GodsBoss opened #577 "Mismatch Docker tag <-> generator version"
#### Describe the bug

The generator within Docker images seems to be one (patch?) version higher than the Docker image tag says.

#### How to Reproduce

    godsboss@godsboss-HP-EliteBook-x360-1030-G3:~$ docker run --rm -it asyncapi/generator:1.6.5 --version
    1.6.6
    godsboss@godsboss-HP-EliteBook-x360-1030-G3:~$ docker run --rm -it asyncapi/generator:1.6.6 --version
    1.6.7
    godsboss@g

[2021-04-28 20:21] DavidBiesack opened #579 "Error: This template requires the following missing params: server with @asyncapi/nodejs-template"
#### Describe the bug

Running the generator with the sample yields an error
[code]

#### How to Reproduce
Copy the sample `asyncapi.yaml` from [https://www.asyncapi.com/docs/tutorials/streetlights](https://www.asyncapi.com/docs/tutorials/streetlights)

[code]

install the most recent generator (1.6.13) and template

[code]

Try to generate using the nodejs-template:

[code]

#### Expected behavio

[2021-04-29 06:36] jonaslagoni commented on #579
Hey @DavidBiesack gonna move your issue to the [nodejs-template](https://github.com/asyncapi/nodejs-template). The problem you are facing is that the template requires you to provide a parameter called `server` - https://github.com/asyncapi/nodejs-template/#template-configuration

[2021-04-29 22:45] derberg opened #580 "How about changing the name of generator and how we call templates"
#### Reason/Context
I was just writing an article where I wanted to briefly explain generator and its templates - I failed again. I'm also failing with it always when tweet about it, some generator or template features.

It is ok for projects like https://github.com/OpenAPITools/openapi-generator to call generator a generator because all is contained in a single repo/project

This is the legacy of

[2021-04-29 22:53] derberg opened #581 "Make it possible to generate only given template files"
#### Reason/Context
I'd like to use generator not only to scaffold my project when I start working on my application. I also want to use it continuously, every time I change something in AsyncAPI document.

The problem is that regeneration means basically another generation of the entire template. This leads to a process of regenerate -> carefully go through each change introduced after regenerati

[2021-04-29 22:57] derberg opened #582 "How about adding some support for markers that I can put in my files that will cause generator to ignore them"
#### Reason/Context
I'd like to use generator not only to scaffold my project when I start working on my application. I also want to use it continuously, every time I change something in AsyncAPI document.

The problem is that regeneration means basically another generation of the entire template. This leads to a process of regenerate -> carefully go through each change introduced after regenerati

[2021-05-03 10:45] jonaslagoni commented on #582
It should be possible, just pre-process files and save the parts marked however it comes at a cost and I think it sends the wrong signal to enable something like this.

My 2 cents, **don't mix generated code together with your own implementations.** Instead interact with the generated code, provide an API developers can use to interact with, see it as a server wrapper instead of integrating custom

[2021-05-03 11:13] micaelmbagira opened #583 "React warning: Each child in a list should have a unique "key" prop"
#### Describe the bug
Using the generator with the markdown template shows React warnings.

[code]
#### How to Reproduce
- `npx ag https://bit.ly/asyncapi @asyncapi/markdown-template -o example`

Or

- `npm install @asyncapi/markdown-template`
- `npm install @asyncapi/generator`
- `npx ag https://bit.ly/asyncapi @asyncapi/markdown-template -o example`

#### Expected behavior
There should not be an

[2021-05-03 11:20] jonaslagoni commented on #583
Hey @micaelmbagira, thanks for the issue, gonna move this issue to the @asyncapi/markdown-template.

Related to https://github.com/asyncapi/generator-react-sdk/issues/37

[2021-05-03 11:24] jonaslagoni commented on #582
It should be possible, just pre-process files and save the parts marked but it comes at a cost and this is IMO the wrong direction to take.

My 2 cents, **don't mix generated code together with your own implementations.** Instead interact with the generated code, provide an API developers can use to interact with, see it as a server wrapper instead of integrating custom code directly into the gene

[2021-05-03 13:51] jonaslagoni commented on #580
Hmm... I think I am too biased to answer this since it makes perfect sense to me 😆However for those that do not know the concept of templates (you would have to dig into how the generator work) I can understand if we want to change it.

Therefore I am neither for or against it.

[2021-05-04 07:32] derberg commented on #520
@jonaslagoni is this one still valid?

[2021-05-04 08:29] jonaslagoni commented on #520
We still don't have any test ensuring nunjucks rendering works. So I would say it is still relevant

[2021-05-04 08:32] derberg commented on #520
we have integration test that generates using html template https://github.com/asyncapi/generator/blob/master/test/integration.test.js which is nunjucks

[2021-05-04 08:39] jonaslagoni commented on #520
While it does test a template with nunjucks it does not explicitly test the nunjucks rendering. If the template switches at some point the generator no longer test that functionality.

[2021-05-04 09:04] derberg commented on #520
what do you mean? what would `explicitly test the nunjucks rendering` test do? We know what is the future of Nunjucks, so I just want to be sure we are not going to invest to much time in testing something that has no future here 😄

test is hardcoded to explicit template version, nunjucks one, it doesn't follow next releases as it is designed in the way that it tests output of testing version X to

[2021-05-04 12:02] jonaslagoni commented on #520
Ahh, didn't see the `0.18.0` part. Guess we are indirectly testing it, so lets just close the issue :)

[2021-05-04 12:02] #520 closed

[2021-05-05 10:24] derberg commented on #577
@GodsBoss sorry for keeping you waiting. I just opened a PR to fix it https://github.com/asyncapi/generator/pull/585

[2021-05-06 22:49] daniloab commented on #568
Hi, actually I'm working on this on the swagger-jsdoc side. They already have support for open API v2 and v3.

We think that can be good to have support for async API.

I made this pr there to have support for `channels` into yml https://github.com/Surnet/swagger-jsdoc/pull/264 and resolve my problem above.

So, I believe that this is not an AsyncAPI issue anymore.

I finally got the result that I

[2021-05-07 08:07] #577 closed

[2021-05-07 08:22] derberg commented on #577
I see 1.6.15 also on docker hub and 1.6.14 was skipped, so lgtm

[2021-05-07 08:32] derberg commented on #568
@daniloab you mean we are closing this one?

sorry could not help much 😞

[2021-05-09 14:52] Souvikns commented on #581
How about we take a page from [prisma migrations](https://www.prisma.io/docs/concepts/components/prisma-migrate). We might have to change a lot of things, but what if the generator keeps track of the previous state of the asyncapi spec and only update what has changed.

[2021-05-10 11:23] jonaslagoni commented on #581
Yea I agree interesting suggestion, could be a solid feature, not sure if it can be done in a maintainable way, also from the perspective of template developers. Do you foresee any problems there @Souvikns? It is one thing where you have control over the entire workflow and another when other developers need to attach into such a process 🤔

[2021-05-10 14:23] Souvikns commented on #581
@jonaslagoni I don't have much experience with template development, but I guess It would be tough to progressively update the code according to spec changes when other developers are updating files that are being generated by the template.

**I was thinking something though don't know if this approach is what we need here**
Right now handlers folder has business logic and it is intended to be upd

[2021-05-10 15:27] magicmatatjahu commented on #581
Good idea with these hashes with previous states, but we must admit that this approach can be very difficult to write and hard to maintance (as @jonaslagoni worries about). As long-term feature it will be awesome, but at the moment we can only add some regex (as parameter) to exclude files.

What I have in mind when I say difficult to write? For example, someone can use channels in few files, we m

[2021-05-10 17:02] andrew-j-roberts opened #587 "Officially supported image w/ generator + bundle of officially supported templates"
#### Reason/Context
If you want to run the generator in an environment with restricted internet access, one of the ways to do that currently is to build the image of the generator & then provide it the local/absolute path to the template it should use.

It'd be easier to get up and running if there was an officially supported image of the generator that included an exhaustive bundle of all the ver

[2021-05-11 07:41] magicmatatjahu commented on #582
@derberg So finally you want left generated function for `subscribe` but then only regenerate template for "new" `publish` function? I wanna make it clearer to another people from community whose have concerns like mine 😅

[2021-05-11 07:48] derberg commented on #582
@magicmatatjahu yes, exactly like this. Problem is that I do not know how to do this 😄 I only know what is the problem 😄

[2021-05-11 07:56] magicmatatjahu commented on #582
I added my 50 cents 😄 in this issue https://github.com/asyncapi/generator/issues/581#issuecomment-836838907 describe the problems that we need to resolve.

[2021-05-12 12:54] derberg commented on #587
I'm wondering if we should provide a huge docker image with all template, or maybe rather have setup in all templates, so they not only release npm packages but also a docker image with latest compatible generator and the template?

the problem with having one big bundle on generator repo will cause a situation that it will be quickly outdated and contain only old versions of the template. I mean,

[2021-05-13 09:07] jonaslagoni commented on #479
Sorry, @nospam2000 this must have slipped through the cracks!

What template were you using here?

[2021-05-13 10:33] nospam2000 commented on #479
I'm using the HTML template.

Next week I can give more details and try it with the newest version.

[2021-05-13 10:46] jonaslagoni commented on #479
Gonna move the issue to https://github.com/asyncapi/html-template

[2021-05-13 19:54] andrew-j-roberts commented on #587
Hey @derberg, I do know what you're getting at and from my POV what you suggest is a more elegant solution. Would be interested to hear what others think as well.

I put together a sample repository [here](https://github.com/andrew-j-roberts/asyncapi-generator-binary) that includes a Dockerfile and Github Action for creating a composite image from the generator and a template. Nothing crazy, the g

[2021-05-14 10:47] #512 closed

[2021-06-22 13:39] uucly opened #603 "'TypeError: schema.isBooleanSchema is not a function' when using Docker Image"
Hi,

i am using the current docker image asyncapi/generator with this command

`docker run --rm \
-v ${PWD}/src/main/resources/asyncapi.yml:/app/asyncapi.yml \
-v ${PWD}/src/main/resources/static:/app/output \
asyncapi/generator -o /app/output /app/asyncapi.yml @asyncapi/html-template --force-write`

So if i start to generate i get the following error

Something went wrong:
Template render error:

[2021-07-01 15:52] MartinMuzatko opened #611 "Cannot find module react-dom/server"
#### Describe the bug
I get an error of missing modules.

I'm running on
node v16.3.0
npm v7.15.1
Ubuntu 18.04.5 LTS (WSL 2)

#### How to Reproduce
`sudo ag https://raw.githubusercontent.com/GPS-GmbH/mqtt-spec/main/smqtt-public-1.0.yml @asyncapi/html-template -o mqtt`
![image](https://user-images.githubusercontent.com/2950505/124153381-a567f280-da94-11eb-8aeb-0e1e151eeff2.png)

[code]

#### Expect

[2021-07-01 16:12] magicmatatjahu commented on #611
I will move the issue to the `html-template` repo, which is more related.

[2021-07-01 20:56] stsydow commented on #115
I experience the issue when using nested `allOf:` statements.

Here is an example:
[code]

[2021-07-04 00:21] #464 closed

[2021-07-05 09:09] derberg commented on #468
@underfisk hey, is this something you could help implementing?

[2021-07-05 09:11] underfisk commented on #468
@derberg I think so, i've seen some nestjs wrappers that they were using OpenAPI codegen approach to generate for async api, in my opinion we could generate the html and cache it and leverage from services like memcache if the user wants to.
@derberg What's your opinion in just generating the html in memory and send the "text" as html SSR from the express/fastify adapter route that we generate? (T

[2021-07-05 09:20] derberg commented on #580
maybe simplest would be
`generator` -> `generator-core` 🤔
`html-template` -> `html-generator`
`any-template` -> `any-generator`

[2021-07-05 09:24] magicmatatjahu commented on #580
We could name the `templates` as `schematics` and leave the `generator` name :)

[2021-07-05 09:31] derberg commented on #468
for sure first of all for me important is that we do not introduce 2 things at the same time, TS + in-memory generation.

some things changed since the time you created this issue. HTML template is totally different now. It is fully reusing https://github.com/asyncapi/asyncapi-react/tree/next. The react component is also now better optimized. Maybe you do not really need generator for NestJS plugi

[2021-07-05 09:45] underfisk commented on #468
@derberg I think i will still need to check this HTML, i might not need and i might be able to use that template is just that in Nestjs you rely on decorators and the metadata they provide, my own nestjs-asyncapi module scans for the routes that have that same metadata and generate all the YML but if the template is capable of being sent from the server then i'm fine with it :)

[2021-07-05 09:56] derberg commented on #468
unfortunately, my knowledge about Nestjs is close to 0 😞 except knowing the creator is from the area where I live 😄

my point is that if you can do such things with react component directly https://github.com/asyncapi/asyncapi-react/blob/next/docs/usage/nextjs.md#usage-with-ssrssg-static-documentation then it just sounds to me that using generator with html-template (that actually uses react compo

[2021-07-05 10:02] derberg commented on #527
@fmvilas do you recall why it is done this way in the generator atm, that entire generator object is passed to hooks but not to render engines, to render engines we expose only some specific things? any specific reason you recall?

[2021-07-05 10:29] magicmatatjahu commented on #468
Yes, I played :)

Ok, so as I remember the problem, you don't want to generate the template  to files each time if someone will change something in code (by hot reloading), because generating takes a few extra seconds, so you want to generate the docs as SSR page, so generating will be "fired" only when someone go to the docs path - it will reduce the overhead with generation's time and FS permiss

[2021-07-05 10:31] underfisk commented on #468
@magicmatatjahu Yes you're right, i dont need AOT, its a simple JIT and in nestjs i can keep in service the generated metadata so i avoid re-scanning each time the user hits the route
My concern was about the template but i see that its possible, once again thanks for the insight

[2021-07-05 10:35] magicmatatjahu commented on #468
Exactly, but template itself hasn't that possibility, but you can make full SSR based on template :)

[2021-07-05 14:15] fmvilas commented on #527
Nope. I think it's just we missed it. I can't recall a specific reason.

[2021-07-05 14:37] derberg commented on #580
and how are `schematics` different from `template`? how will this improve the wording and explanation?

@magicmatatjahu

[2021-07-05 14:44] magicmatatjahu commented on #580
I thought you needed a synonym :trollface:

To be honest I have no problem with the name of the generator and with terms such as `html generation` (from template, not generator) etc. For others people, naming may be a problem, but for me, it's not. Let the others emerge.

[2021-07-07 07:08] #568 closed

[2021-07-08 09:20] arabczuk-equinix opened #612 ""Error: Template parameter "server" has not been defined" while trying to generate Java Spring Boot"
I'm not able to use Java Spring Boot generator, it throws an error. I've tried using the example, I've downloaded the file, I've used my own asyncapi file that properly renders in playgraound, I've tried the same with docker command and it always throws the same error.

[code]
[code]
[code]

[2021-07-09 10:29] manoswerts opened #614 "Referencing AsyncAPI specs to reuse messages and schemas generates Java classes with incorrect names"
#### Describe the bug
When generating Java code from an AsyncAPI spec which references another one for reuse, schemas from the referenced AsyncAPI spec are named `AnonymousSchema<#>.java` instead of using the schema name.

Java classes are generated correctly for schema's in the main AsyncAPI spec.

#### How to Reproduce
Ensure that you have 2 AsyncAPI specs of which one references the other to re

[2021-07-18 16:43] jonaslagoni opened #618 "Create `create-template` in AsyncAPI organization"
#### Reason/Context
Stumbled upon this and thought it would be perfect for the generator. We could offer a way to use the [init function](https://docs.npmjs.com/cli/v7/commands/npm-init) which will allow people to more quickly setup new templates.

By creating `create-template` in the AsyncAPI scope we can do the following example commands:
- `npm init @asyncapi/template --react`

#### Description

[2021-07-19 07:12] magicmatatjahu commented on #618
I think that we should move this issue to the CLI repo.

[2021-07-21 14:00] djdjoko opened #619 "html-template generates anonymous-schemas"
Hello,

I am trying to generate html documentation with the html-template (Windows 10.0) but it renders additional properties to the schemas in the html such as <anonymous-schema-1>, <anonymous-schema-2> and <anonymous-schema-3>

I have tried running the following command to generate the html template.
ag https://raw.githubusercontent.com/asyncapi/asyncapi/v2.1.0/examples/simple.yml @asyncapi/html

[2021-07-21 14:55] magicmatatjahu commented on #619
I move this issue to the related repository.

[2021-07-22 11:40] mflorczak opened #620 "Recursive model"
Describe the bug
I want to create tree structure which each object has list of the same types.

How to Reproduce
This is my schemas components
![image](https://user-images.githubusercontent.com/36895020/126633685-86dac13d-47e3-4358-97ce-6a0a32420946.png)

It is recursive tree model
![image](https://user-images.githubusercontent.com/36895020/126633701-442a4136-1c44-456d-850b-c1e61bde2477.png)

And

[2021-07-22 11:55] magicmatatjahu commented on #620
@mflorczak Hi! Could you add more information like which template do you want to use, which schema is circular (I guess `NodeAdto` -> `NodeAdto`), etc?

Have in mind that some templates doesn't support specification with the circular references.

[2021-07-22 12:23] mflorczak commented on #620
Hello! I used java-spring-template

type: object
properties:
  id:
    type: integer
    format: int64
  name:
    type: string
  created:
    type: string
    format: date-time
  stamp:
    type: string
    format: date-time
  children:
    type: array
    items:
      $ref: "../async-consume.yaml#/components/schemas/NodeAdto"

channels:

  flexible-production:
    description: flexible productio

[2021-07-22 13:15] magicmatatjahu commented on #620
Currently we support the circular refs in the spec, but not in every places (more info [here](https://github.com/asyncapi/parser-js/issues/293)). Generator can parse/validate your spec and pass it to the template. The given error is throw by this line https://github.com/asyncapi/java-spring-template/blob/master/filters/all.js#L101 Native `JSON. stringify` function doesn't support the circular refs

[2021-07-22 13:15] #620 closed

[2021-07-26 08:51] jonaslagoni commented on #618
I am not sure the CLI will be able to do this in a way it makes sense. Cause otherwise, we would need to run something like `npm init @asyncapi/cli --template --react` instead 🤔 Not sure we want to overcomplicate it? The `@asyncapi/template` repo could of course be used by the CLI repo to enable it natively.

Another thought is whether `npm init` would be needed if it can be done through the CLI?

[2021-07-26 09:15] magicmatatjahu commented on #618
We can reuse the https://github.com/asyncapi/create-glee-app pattern to create the template for templates (LOL 😄 ) and then we can even use `npx`:

[code]

No, but then we should have option to generate template without AsyncAPi doc, to reuse our generator.

[2021-08-01 20:30] magicmatatjahu commented on #365
I think that this issue should be moved to the `cli` repo. @derberg move or leave it here?

[2021-08-02 08:33] derberg commented on #366
I think we can close it, nobody will improve current generator cli as new CLI is in development and I'm actively reviewing it and making sure things like logs are super minimalistic

[2021-08-02 08:33] #366 closed

[2021-08-19 15:24] arabczuk-equinix opened #630 "Java Spring Boot code generator fails on oneOf property"
#### Description
Java Spring Boot code generator fails if any `channel.{operation}.[publish/subscribe].message` contains `oneOf` property.
In the example below I've used the asyncapi file from the public samples: https://bit.ly/asyncapi and modified
[code]
to
[code]

#### Steps to Reproduce

Versions:
[code]

Command:
[code]

full AsyncAPI file:
[code]

#### Expected behavior
The code generation t

[2021-09-01 00:25] #115 closed

[2021-09-01 05:41] jonaslagoni commented on #115
![billede](https://user-images.githubusercontent.com/13396189/131618034-86d94e37-ae18-4278-a554-6d09d5ff981e.png)
This has been solved.

[2021-09-01 08:03] magicmatatjahu commented on #115
@jonaslagoni After two years 😂

[2021-09-02 15:56] ceich opened #643 "Support generation of D-Bus XML"
#### Reason/Context
I would like to use AsyncAPI to generate D-Bus XML so that:
- I can use AsyncAPI for all interfaces in my system, even inter-process communication (IPC) on a single computer
- I can generate IPC stub/skeleton code from AsyncAPI => D-Bus XML => (many languages)

#### Description
The D-Bus spec includes support for interface [introspection](https://dbus.freedesktop.org/doc/dbus-s

[2021-09-06 10:03] boyney123 commented on #580
I quite like the rename to generator I think, I guess the generator > template isn't too much of a hurdle, but I'm just used to generator wording.

![image](https://user-images.githubusercontent.com/3268013/132199744-20826547-da20-4b32-baf9-1d9cd23f2f1e.png)

The descriptions for each template say `Generates` which I guess generator would make more sense?

But as I said not the end of the world, j

[2021-09-20 12:38] derberg commented on #537
closing in favour of https://github.com/asyncapi/cli/issues/73

[2021-09-20 12:38] #537 closed

[2021-09-21 11:21] jonaslagoni commented on #614
I think we can move this to https://github.com/asyncapi/java-spring-template

[2021-09-26 18:06] rcarrascosps opened #658 "MuleSoft project generator."
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
For the MuleSoft community it would be great to generate a project based on an AsyncAPI spec. The specification can include the different bindings that are currently supported or that are coming in the future. MuleSoft is able to connect to Kafka, Rabbit MQ, JMS, etc.
- How will this change help?
Will h

[2021-09-27 08:16] derberg commented on #658
@rcarrascosps there are 2 important questions from my side:

1. Can you come up with some examples of what needs to be really changed in the generator to address MuleSoft needs? Generator is pretty agnostic here, it is just a tool with a bunch of generic features that one should use in a "template", template for HTML generation, or a template for Nodejs app generation. Templates are standalone pro

[2021-09-27 13:27] derberg commented on #538
would be great if someone could contribute this feature, happy to guide

[2021-09-27 23:58] rcarrascosps commented on #658
Hi Lukasz.

Regarding this:
So far we did not yet accept any template that is bound to a specific vendor only. One of the reasons is that it is not focused on the wider community. Also, the spec is pretty agnostic here through bindings feature, so if spec can be agnostic and support multiple bindings, why template can't do the same? We have one example of a template that was donated and is till ma

[2021-09-28 06:38] derberg commented on #658
`MuleSoft application` - what does it exactly mean. I'm lacing some knowledge about MuleSoft. I mean how can there be MuleSoft application that is capable of working with any protocol.

Also another question: can MuleSoft app work without MuleSoft. So far I understand it would not be a vendor-neutral template.

Keep in mind that you can create a `template` project wherever you want (doesn't have t

[2021-09-29 10:57] oBJIADo opened #666 "Circular "allOf" generates Maximum call stack size exceeded"
### Describe the bug
Circular "allOf" throws Maximum call stack size exceeded.

### How to Reproduce
Used:
- "@asyncapi/generator": "^1.8.14"
- "@asyncapi/html-template": "^0.23.10"

Entity example:

[code]

When I tried to generate the html template I got an exception:
[code]

The code that was used to generate:
[code]

Unfortunately I cannot provide the whole async-Api file due to NDA.

### Expe

[2021-09-29 11:02] magicmatatjahu commented on #666
@oBJIADo Hi! Currently, we don't support the circular references in some cases, like yours. We only handle circular refs in `items` and `properties` - more info is in this issue -> https://github.com/asyncapi/parser-js/issues/293

Did this problem exist before or did it only appear in `0.23.10` version of `html-template`? I'm asking to make sure if now the `html-template` version didn't mess somet

[2021-09-29 11:18] oBJIADo commented on #666
@magicmatatjahu Hi!

About "_some strange logic for img tags?_": this is deprecated logic and should be removed. Never mind this.

The "AllOf" tag was recently added and I don't know if it works before 0.23.

[2021-09-29 11:21] magicmatatjahu commented on #666
@oBJIADo

So then it shouldn't work also for previous versions. As I wrote to you, we know about the problem, I even tried to fix it myself, but it's not that easy, because circular references can be everywhere, which complicates things, even when creating a generic solution.

[2021-09-29 12:50] magicmatatjahu commented on #666
@oBJIADo The only solution I can see now is to change the schema shape to not have circular references for `allOf`, but I guess in your case this will be very difficult.

[2021-09-30 13:10] derberg opened #667 "Move array "sort" operation to a separate statement"
More info https://sonarcloud.io/project/issues?id=asyncapi_generator&issues=AXVvKdRcxFJSqWMtO61z&open=AXVvKdRcxFJSqWMtO61z

Code located in `lib/templateConfigValidator.js`

Array-mutating methods should not be used misleadingly. Create a separate variable with clear name

[2021-09-30 13:14] kanumalivad commented on #667
Kindly assign to me, Want to work on this

[2021-09-30 13:33] derberg commented on #667
Done 😄

[2021-09-30 19:29] rcarrascosps commented on #658
Hi.
A Mulesoft application can suscribe to different messaging platforms using JMS, RabittMQ , Kafka, MuleSoft Active MQ, Solace, etc.

What I would like to do is:
1) A person designs an API using the AsyncAPI spec
2) A MuleSoft based app that suscribes to the channels described in the specification
3) To use something like this:
ag asyncapi.yaml @asyncapi/nodejs-template -o output -p server=mosqu

[2021-10-01 15:56] magicmatatjahu commented on #667
Fixed by #669

[2021-10-01 15:56] #667 closed

[2021-10-03 06:30] rluvaton commented on #538
I can take it

[2021-10-03 06:33] rluvaton commented on #538
A quick workaround would be to install the packages locally (not with the `-g` flag) and run the generate again

[2021-10-04 10:40] derberg commented on #538
@rluvaton 🚀

why do you need workarounds? as I see Arborist supports passing auth token, we just need to enable it on API level and in the code

[2021-10-04 10:45] rluvaton commented on #538
I meant workaround until we solve the problem

[2021-10-04 10:52] derberg commented on #538
ah, sorry, you are right, this should work

[2021-10-04 11:43] derberg commented on #658
I think it is much clearer now.

Wouldn't it be better if you keep it here https://github.com/mulesoft-labs instead of AsyncAPI. In AsyncAPI we want to be vendor-agnostic, so Mulesoft-only app would be against it. This is why already mentioned Solace have to work on Java template that can work without Solace. And if you develop your template under `asyncapi` org, we would always push you for the s

[2021-10-04 14:13] rcarrascosps commented on #658
Hi.
Makes sense , Lukasz.

I will proceed on that direction mad it totally makes sense.

best regards

[2021-10-04 15:28] derberg commented on #658
@rcarrascosps you mean you first try to work on it under Mulesoft org, and then, once you are ready to make it more generic you will consider moving under AsyncAPI org? If yes, then please close this ticket, otherwise let us continue discussion

[2021-10-04 15:33] rcarrascosps commented on #658
Yes Lucazs , that's what I will do.
I will proceed to close this ticket.

best regards and thank u

[2021-10-04 15:33] #658 closed

[2021-10-04 15:38] derberg commented on #658
@rcarrascosps let us know whenever you have questions on how to start writing a template. You know where to find us 😄

[2021-10-05 06:50] derberg commented on #159
Folks, have a look at https://www.asyncapi.com/tools/modelina

[2021-10-26 13:02] chatne opened #681 "Generator fails with TypeError when used with npx"
# Generator fails with TypeError when used with npx

A while back, https://github.com/asyncapi/generator/issues/467, it was implied that `npx` should work instead of using global installed generator.

However the generator fails with `TypeError` when I attempt to do so:
[code]
There are bunch of these. This is just a one for example. There seems to be one error for every language that `highlight.j

[2021-10-26 14:15] #681 closed, assigned to nobody

[2021-11-04 13:42] jonaslagoni opened #691 "Wrong link to semver version syntax"
#### Describe the bug
In the generator docs https://github.com/asyncapi/generator/blob/master/docs/authoring.md#configuration-file for the configuration `generator` we link to https://docs.npmjs.com/misc/semver which is broken.

#### Expected behavior
I am not quite sure where the correct link has gone 🤔

[2021-11-25 22:47] adrianvolpe opened #716 "Cannot set the AMQP exchange when using the @asyncapi/nodejs-template for subscribing to messages"
#### Describe the bug
I created an asyncapi.yaml file for a channel that had both a subscribe and publish with amqp binding.  When I tried to set the exchange to connect to the code refused to use the supplied value.  I found that the NPM module `fmvilas/hermes-amqp` was trying to set the exchange value with the parameter option `exchangeOptions`.    I changed this to be `exchange` to match the do

[2021-12-09 15:19] magicmatatjahu commented on #666
@oBJIADo Hello! I have a good news :) We merged new version of generator and new version of html-template that support circular refs :) You can try it with latest generator `1.8.27` and latest html-template `0.24.0`. Let us know about any bugs/problems! I remember that we test solution with your example and it handles the circular refs in your case :) I will close it, please reopen if you want.

[2021-12-09 15:19] #666 closed

[2021-12-22 07:20] derberg commented on #414
still good to have

[2021-12-22 09:32] derberg commented on #618
we already have template for templates, why not rework it to support it, I like the idea

[2021-12-22 11:33] jonaslagoni commented on #618
That could be an idea, yes!

[2021-12-22 22:06] tstuber opened #727 "Missing visualization of Avro schema with reference"
#### Describe the bug
I am using an asyncapi with a reference on a `.avsc` file. The avro schema itself contains a reference on a `address` schema. The reference itself is not properly visualized (`streetaddress` and `city` missing).

![asyncapi-avro-ref-issue](https://github.com/tstuber/asyncapi-avro-ref-issue/raw/main/asyncapi-avro-ref-issue.png)

#### How to Reproduce
The shown example can be f

[2021-12-28 12:08] oBJIADo commented on #666
I finally have time to try it and it works fine. Thanks a lot!

[2022-01-05 13:51] aminrahman opened #728 "Something went wrong using @asyncapi/generator v.1.8.27"
#### Describe the bug
I have been using @asyncapi/generator v.1.8.11 and it was ok. But using @asyncapi/generator 1.8.27 while generating HTML templates, I constantly get this error:
[code]

#### How to Reproduce
I get this error just trying to generate HTML results using the ag command.

[2022-01-05 13:56] aminrahman opened #729 "Offline installation of @asyncapi/generator"
#### Reason/Context
We have a project that is running on a local private server. We provide services over ActiveMQ and we use AsyncAPI to generate ApiDocs. The problem is that we don't have internet access on our systems to generate ApiDocs.

#### Description
Is there any way you could provide the possibility to completely download @asyncapi/generator as a package and move it to another device tha

[2022-01-05 14:02] jonaslagoni commented on #729
Hey @aminrahman, it is just a node library, so downloading the source files then installing the dependencies `npm i` allow you to execute `node ./cli.js ...`

That way you can also download the desired templates and reference them locally as `node ./cli.js asyncapi.json ./html-template --output ./apidocs`

[2022-01-05 14:10] magicmatatjahu commented on #729
You can always install `@asyncapi/generator` and `@asyncapi/html-template` in local project, then copy everything (with `node_modules`) to desired location (where you haven't internet) and try to generate by cli in `node_modules/@asyncapi/generator/cli.js` like:

[code]

Other solution is using docker but without internet you need to fetch image of generator and somehow transfer it to a machine wh

[2022-01-05 14:17] magicmatatjahu commented on #728
@aminrahman Hi! Could you write which version of npm/node are you using? I think that it's related to that versions, not to generator itself.

[2022-01-08 07:48] aminrahman commented on #728
Hi. I am using npm 6.14.4 and node 10.19.0.

[2022-01-08 11:40] aminrahman commented on #728
Thank you @magicmatatjahu. It was a matter of version conflict. As in [here](https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-20-04) apt repo only contains old and not-supported versions of node. Therefore, I used the [Manual installation](https://github.com/nodesource/distributions/blob/master/README.md#manual-installation) section of nodesource distribution to in

[2022-01-08 11:40] #728 closed

[2022-01-11 11:49] shpelda commented on #40
Well, what was the issue there ?

[2022-01-11 11:57] jonaslagoni commented on #40
Wrong installation command, use `npm install -g @asyncapi/generator`.

[2022-01-11 15:53] derberg commented on #580
@fmvilas only your opinion is missing. If all codeowners are fine, we could query community

[2022-01-11 17:27] derberg commented on #527
@jonaslagoni do you still need it, want to work on it? or rather describe well for others to pick as good first issue?

[2022-01-11 18:45] fmvilas commented on #580
I'd not call them "generators". The tool is also called Generator. Are we going to compose sentences like "Use this generator with Generator"? Or another option is that we change the name of tool as well.

[2022-01-12 09:18] magicmatatjahu commented on #521
@derberg To compile the React template and use that "compiled" templated from each run. At the moment we transpile/compile React component by babel on each generation and it is a waste of time.

[2022-01-12 10:40] derberg commented on #521
@magicmatatjahu thanks, now I remember. I just think now that it should work like this by default. When you run generation, generator first look for sources of compiled template, if provided, and if not, performs old way. And yeah still in template for templates we need to show how to get it into npm

[2022-01-12 10:44] magicmatatjahu commented on #521
Exactly in this way, look for transpiled files, if don't exist then run transpilation/compilation and generate template.

[2022-01-12 15:53] derberg commented on #580
they are not called generators, so you would write not `Use this generator with Generator` but use `Node JS Generator` either with `AsyncAPI CLI` or in case of a library, use `generator-core` library.

So you will say `To generate the code in terminal or CI/CD use NodeJS Generator with AsyncAPI CLI. In case you want to do it in a runtime or integrate with your library, use generator-core library`

[2022-01-12 17:22] derberg commented on #582
I'm closing for now, doesn't seem like something that is super important now, we can always reopen if, or folks can create new issue if they want this in the future.

[2022-01-12 17:22] #582 closed

[2022-01-12 22:52] fmvilas commented on #580
Alrighty, sounds good 👍

[2022-01-20 15:22] magicmatatjahu opened #737 "generate function breaks functionality of Generator"
#### Describe the bug

If someone will run [`generate(...AsyncAPIDocument)`](https://github.com/asyncapi/generator/blob/master/lib/generator.js#L166) function then some hooks like this https://github.com/asyncapi/generator-hooks/blob/master/src/index.js#L5 won't work, because `originalAsyncAPI` is empty (undefined).

#### How to Reproduce

Try to generate https://github.com/asyncapi/nodejs-templat

[2022-01-21 10:58] felixjung opened #738 "AsyncAPI generate crashes when watching a local template during development"
#### Describe the bug

When developing a new template locally and using the `--watch-template` flag, the generator crashes after generating the template.

The error message on a Mac with `nodenv` is

[code]

#### How to Reproduce

1. Start a new template, for example using the generator template repository.
2. Start the generator in watch mode: `ag --watch-template --output ~/Desktop/asyncapi --fo

[2022-01-21 11:00] felixjung commented on #738
This bug is caused by a [check for a local template in `cli.js`](https://github.com/asyncapi/generator/blob/master/cli.js#L126). The async function that's being executed returns an error when the folder that's being checked doesn't exist. Since the template is a local one for development, it doesn't exist in the default location `{global node_modules}/@asyncapi/generator/node_modules/{template nam

[2022-01-21 13:21] magicmatatjahu opened #739 "Roadmap to 2.0.0"
Release 3.0 spec getting closer, although it's unclear when it will be released :smile:

Due to the fact that most probably 3.0 will have a lot of breaking changes, which introduce breaking changes in our `parser-js`, we should think about a new major version of the generator.

Since the 2.0 release is dictated by the 2.0 parser release, we should consider what we would expect from the 2.0 generat

[2022-01-24 11:07] derberg commented on #739
yo, please correct me but not of the above changes must be breaking changes, thus I do not see correlation with spec release.

For example: removing CLI is not breaking change, we just remove it, but won't remove old versions from npm, right? or actually it is not doable without breaking stuff 🤔

No comments from my side about rewriting... 😄

[2022-01-24 13:42] magicmatatjahu commented on #739
@derberg

No everything, [this](https://github.com/asyncapi/generator/issues/538) can be handled as `fix/feat`, not `feat!`, but other things should be consider as breaking change

I think that's the breaking change, because people can use generator in the cli by installing latest version (in some script) from 1.X.X (by `npx ...`), so yeah it will broke their logic. We can say: from `1.X.X` we wil

[2022-01-26 09:22] magicmatatjahu commented on #581
I think that it's still relevant :) cc @derberg

[2022-01-31 09:35] jonaslagoni commented on #527
Coming around to this again, on second thought I think it makes sense to close it down, as I cant remember the exact situation that lead to me opening this.

It might have been in contrast to getting modelina to work with generating models, however I don't see it anymore 😅

[2022-01-31 09:35] #527 closed

[2022-02-03 07:33] derberg commented on #403
I'm closing it for now. There was no further interest in this, we can always reopen when needed

[2022-02-03 07:33] #403 closed

[2022-02-14 23:38] jonaslagoni commented on #521
@magicmatatjahu would you be able to formulate this into a good first issue? 🙂

[2022-02-14 23:40] jonaslagoni commented on #691
Maybe this? https://docs.npmjs.com/cli/v6/using-npm/semver

[2022-02-20 16:31] derberg opened #752 "Library for easier integration testing of code generators"
#### Reason/Context

`It is not so hard to write code generator, it is harder to maintain it` ~ Abraham Lincoln

When you write a code generator, you always write it with some use case in mind. You test it manually quite a lot before the initial release. You do it basing on some AsyncAPI file, sometimes crafted for the purpose of the code generator, in most cases it is a specific version of the of

[2022-02-21 06:10] sudoshreyansh commented on #752
This sounds interesting! I would like to work on this.

[2022-02-22 14:39] sudoshreyansh commented on #752
I am wondering if I can merge this idea with https://github.com/asyncapi/glee/issues/255. AsyncAPI doesn't have any automated testing tool which can perform automated tests based on the specification files, so I can make one and then integrate it with both Glee and Generator. The tool would be able to be used as a standalone tool, similar to the one mentioned in https://github.com/asyncapi/glee/is

[2022-02-24 18:37] RobertOttesen opened #753 "AVRO schema unions code generation issue"
#### Describe the bug
When an AVRO schema is use that contains unions, for example, ["null", "string"], the generated code is invalid.

#### How to Reproduce
The following snippet from an AVRO schema contains a union of "null" or "string".  See the attached bad events.yml file for the full schema.

`- name: "jobOrderDescription"
          doc: "JobOrderDescription"
          type:
          - "nul

[2022-02-25 09:51] fmvilas commented on #752
🤔 @sudoshreyansh I'm not sure we're talking about the same thing here. If I understood correctly, this issue is about generating integration tests for code generators and the one at Glee is about running integration tests with a specific syntax for Glee. As you say in the other issue "While writing tests, developers should only focus on the message being sent to the server and the response provide

[2022-02-25 10:46] sudoshreyansh commented on #752
@fmvilas Thanks! I get you. It would be better if both are separate solutions for now.

[2022-02-28 19:25] CameronRushton commented on #753
It seems this is a problem with the java-spring-cloud-stream-template and not the generator itself. I'd recommend closing this issue and tracking the copy of it made here https://github.com/asyncapi/java-spring-cloud-stream-template/issues/247

[2022-03-11 15:19] mcturco opened #757 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 15:19] mcturco commented on #757
/gfi design

[2022-03-24 15:49] aimed opened #759 "Cannot use async-api generator in projects that use ts-node"
#### Describe the bug

When trying to run a project that uses ts-node AND async-api generator, the following error appears.

[code]

`ts-node` can only be registered once, otherwise it will try to compile already compiled code, potentially leading to complication errors (depending on the compiler settings).
When using `ts-node` in a project that uses async-api generator, both register `ts-node`. T

[2022-03-24 15:50] aimed commented on #759
I'd be happy to open a PR that removes support for source maps as well as typescript :)

[2022-03-27 03:39] aazammazaa opened #761 "oneOf is not working in message asyncAPI: 2.3.0"
oneOf is not working in message asyncAPI: 2.3.0
While generating spring boot template through npm getting this bellow error
`Something went wrong:
Template render error: (/usr/lib/node_modules/@asyncapi/generator/node_modules/@asyncapi/java-spring-template/template/src/test/java/com/asyncapi/SimpleKafkaTest.java) [Line 13, Column 64]
  Error: Unable to call `the return value of (the return value o

[2022-03-29 01:17] jonaslagoni commented on #581
I re-read your blog post @derberg and one thought that came to mind was, why even generate code that mixes your own implementation alongside the generated code 🤔 In my experience, I have never understood why you want to generate code alongside custom code. I have always seen it as a huge problem when you evolve your API when you mix the two (especially as we have seen with OpenAPI HTTP server code

[2022-03-29 13:56] derberg commented on #521
@magicmatatjahu I second what @jonaslagoni wrote because of this thread https://asyncapi.slack.com/archives/CQVJXFNQL/p1648304288930959

we are getting more and more React-based templates, means more unhappy users.

btw, I was wondering if we could not make it

[2022-03-29 14:29] magicmatatjahu commented on #759
I admit that the current solution is bad and TS -> JS transpilation should be done on the pre-publish and not on the runtime side, but I don't agree with removing this "feature" because then we would have to do major release (because it would be breaking change). In version 2.0.0 of the generator we will remove it, and the transpilation will be done before publishing. From what I remember, `ts-nod

[2022-03-29 15:50] magicmatatjahu commented on #759
Fix https://github.com/asyncapi/generator/pull/764

@aimed I also tested it on your repo and everything works as expected :)

[2022-03-30 19:10] mcturco commented on #757
There is a tiny "Javascript Parser" banner in this repo now 😅

Looks like it is using the logo path from the parser repo. Just a note that we need to make sure we are hosting the generator image asset above within this repo wherever it makes the most sense to organize it.

![Screen Shot 2022-03-30 at 3 06 35 PM](https://user-images.githubusercontent.com/60163079/160911872-e65dbec9-2b32-4d25-aa5c-7

[2022-04-02 00:02] BTOdell opened #765 "Resolve and combine allOf before rendering"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

With the current HTML template, all of the "combination" keywords are rendered as-in instead of being resolved before rendering. My schemas heavily use references to avoid duplication; `allOf` is used everywhere. When my schema is rendered with `as

[2022-04-04 16:18] #757 closed

[2022-04-04 17:12] derberg commented on #581
but I still need to "connect the dots" somehow, right? or?
Like I need to require/import interface of some given name from a given path, that is custom depending on the AsyncAPI file?

[2022-04-09 10:40] fidgi opened #770 "simple-git/promise import warning"
#### Describe the bug
While using the generator to generate html doc , a warning from simple-git is raised :

`
=============================================
simple-git has supported promises / async await since version 2.6.0.
 Importing from 'simple-git/promise' has been deprecated and will be
 removed by July 2022.

To upgrade, change all 'simple-git/promise' imports to just 'simple-git'
=======

[2022-04-19 09:05] pavlikm commented on #770
https://github.com/asyncapi/generator/pull/775

[2022-04-19 14:06] #770 closed

[2022-04-20 03:41] man-to-learn opened #776 "Why does the "generator" need to use "simple-git"?"
sorry,I‘m a backend developer.I don't understand the 2 errors below.

Would you get me some help?Thanks.

[2022-04-20 06:54] #753 closed

[2022-04-20 06:58] derberg commented on #776
@man-to-learn it is a pretty old feature that is supported by `simple-git`. Have a look at [this PR](https://github.com/asyncapi/generator/pull/223) and linked issue to understand the need and the use case.

[2022-04-26 16:24] derberg commented on #618
shouldn't we move it to CLI repo?

[2022-04-29 12:20] aimed commented on #759
Awesome, thanks so much for this @magicmatatjahu 🚀

[2022-05-02 00:05] #643 closed

[2022-05-03 12:54] lkmandy commented on #691
Hi @jonaslagoni @alequetzalli @derberg
I'll like to work on this issue; to get started with understanding the generator project and the PR workflow at AsyncAPI

[2022-05-03 14:58] alequetzalli commented on #691
@lkmandy, totally feel free to pick this up!

When you open a PR, just make sure you tag @jonaslagoni and @derberg ⭐

[2022-05-03 23:36] lkmandy commented on #691
Great, thanks @alequetzalli

[2022-05-04 00:52] lkmandy commented on #691
@jonaslagoni I came across this youtube video on [Semantic versioning](https://bit.ly/3vUuf0k) authored by npm that shows your [proposed link]( https://docs.npmjs.com/cli/v6/using-npm/semver) is the right one; the contents match exactly what was previously on this [broken link](https://docs.npmjs.com/misc/semver)

I also noticed the proposed link [https://docs.npmjs.com/cli/v6/using-npm/semver](ht

[2022-05-04 10:37] jonaslagoni commented on #691
@lkmandy great research!

Feel free to open a PR with the change you would like to go with 🙂

[2022-05-09 12:27] starlightknown commented on #507
No, I haven't done it before and yes I'll need some help

[2022-05-10 13:13] derberg commented on #507
@starlightknown happy to help, no worries. Let's just make sure folks @magicmatatjahu @jonaslagoni agree with the fix that needs to be applied

[2022-05-14 18:39] lkmandy commented on #691
@derberg I noticed this issue is still marked as open after the PR was merged.
I linked the issue in the commit message. Did I miss something?

[2022-05-15 13:36] Sihamtahi commented on #752
Hello, I want to work on this project. I want to apply my technical knowledge of testing in a real case and have a deep knowledge of this discipline.

[2022-05-16 07:44] #691 closed

[2022-05-16 07:57] derberg commented on #691
@lkmandy I think it is because your comment in PR said `Fixes issue #691` while, to automatically close the issue after merge, it should say `Fixes #691`, at least I think so.

[2022-05-16 11:55] jonaslagoni commented on #507
Sounds good to me 👍

[2022-05-16 12:26] lkmandy commented on #691
Noted, thanks.

[2022-05-25 23:46] alequetzalli opened #789 "[📑 Docs]: determine page outline for Generator Tool docs"
### What Dev Docs changes are you proposing?

# Determine outline for Generator Tool docs
Before any TW investment is done toward adding the [Generator Tool](https://github.com/asyncapi/generator) docs in our `/website` repo, we need to agree on the content outline we'll use for this tool documentation. After the outline is agreed upon, the migration and re-writing efforts will make more sense. (c

[2022-05-28 17:56] pratik2315 commented on #789
In my 1:1 onboarding call with @alequetzalli , we had a brainstorming practice session about where the generator tutorials should belong. The conclusion was that, since we already have a tutorials section with "Streetlights" and "Streetlights - Interactive (Alpha)" content buckets, we could maybe create similar content buckets for the Generator stuff? So one possible hyperlinks architecture could

[2022-05-28 18:00] pratik2315 commented on #789
I also had a suggestion I wanted to get reviewed😅
What do you guys think about a separate section for FAQ's related to generator tool where we list common errors faced while using the generator tools and ways to deal with them? or does that conflict with our current information architecture?🤔

what do you think @derberg @alequetzalli @Florence-Njeri !

[2022-05-31 08:44] jbadeau opened #791 "Configure nunjucks"
Ability to configure nunchcucks as described here https://mozilla.github.io/nunjucks/api.html#customizing-syntax.

Maybe this is already possible but I didn't find it in the docs.

#### Description
For example, to customize the syntax

[2022-05-31 08:56] magicmatatjahu commented on #791
@jbadeau Hi! Now you can add filters or macros, described in the:

- [Template filters](https://github.com/asyncapi/template-for-generator-templates/tree/nunjucks#template-specific-filters)
- [Using filters](https://github.com/asyncapi/template-for-generator-templates/tree/nunjucks#using-filters)
- [Macros, partials](https://github.com/asyncapi/template-for-generator-templates/tree/nunjucks#partia

[2022-05-31 09:04] derberg commented on #791
I definitely do not recommend investing in Nunjucks, and use React engine instead 👍🏼

[2022-06-06 13:19] derberg commented on #752
@sudoshreyansh this idea was selected for AsyncAPI Mentorship 2022 -> https://github.com/asyncapi/community/discussions/376#discussioncomment-2890658

you are the first one that volunteered for this issue + you also contributed to the project a lot by cracking google calendar API for me when I worked on AsyncAPI Meetings automation. It would be great if you decide to be an AsyncAPI-sponsored mente

[2022-06-06 18:43] sudoshreyansh commented on #752
@derberg I thought we had to re-pick our ideas for AsyncAPI mentorship after GSoC.
Sorry for the confusion. I would like to go with my application on https://github.com/asyncapi/glee/issues/27

[2022-06-07 04:15] likitarai1 commented on #752
Can I work on this issue??

[2022-06-07 12:21] derberg commented on #789
yes, we have current streetlight tutorial but, even though it uses AsyncAPI Generator, its goal is more about showing what you can get out from writing AsyncAPI document. In case of Generator tutorials, we will have more step by step tutorials showing how to create a template, and using a template to generate something will be one of the tutorial set

tbh I think we will end up with `docs/tools/ge

[2022-06-08 01:32] alequetzalli commented on #789
@pratik2315 So we won't have FAQs in the Tools docs, because it's not a blog post or stand-alone page. Rather.. think about how documenting limitations or common errors fit within out new IA. In this case, we will have the **how-to** section added as a content bucket for writing guides to common user problems/error scenarios. The tool limitations would also require a well-thought-out content outli

[2022-06-08 12:38] pratik2315 commented on #789
That makes sense! Thanks for the input💪😄

[2022-06-08 12:53] InfoSec812 opened #794 "Add support for Quarkus Generator"
I would like to work on adding support for a Quarkus generator/templates. It would likely use SmallRye Reactive Messaging.

[2022-06-22 14:56] derberg commented on #794
@InfoSec812 give it a go, especially that we do not know any implementation so far. Templates are separate projects. So you can work on them separately in your repo, and then once ready, submit to join AsyncAPI if you want. Need a hand?

[2022-06-22 22:28] raaj-repos opened #800 "Generator not searching the template in private registry"
#### Describe the bug
A custom template package is published to private registry (jfrog artifactory) and referred the package, generator looks in https://registry.npmjs.org/ and not in private registry.  However using generator source code from `master `repo and running `npm run test:cli `works where template is from private registry . As the latest version is 1.9.5, tried installing the 1.9.4 ver

[2022-06-23 12:08] derberg commented on #800
@raaj-repos thanks a lot for taking time to create an issue.

Generator, after many issues related to reuse of `npm` binary switched approach to use https://www.npmjs.com/package/@npmcli/arborist package that is a core for `npm` binary itself.

This means `npm config set registry https://artifactory.mycompany.com/api/npm/npm` has no effect on the Generator.
Arborist supports a configuration that a

[2022-06-23 12:38] derberg opened #801 "node and npm version issues"
Where do I even start...

We started having a problem with tests in this project. We run them at the moment on nodejs 12,14,15 and 15 is causing issues. This is easy, we can just switch to 16 and 15 is anyway not LTS.

When we switch to 16, which we should do anyway, we get an issue that `semantic-release` must be bumped because the version doesn't match the Node release. Easy, just bump the packa

[2022-06-23 20:13] raaj-repos commented on #800
Tried and it didnt work either. Got **windows** machine and installed the `@mycompany/asyncapi-csharp` globally and verified manually by navigating to the folder` C:\Users\me\AppData\Roaming\npm\node_modules`. Still getting the same error,
[code]

[2022-06-30 16:28] mathecruz opened #802 "Wrong execution when trying to generate html template"
#### Describe the bug
Running generator I got this error:

[code]

#### How to Reproduce
npm version: 6.14.16
node version: 14.15.14
 @asyncapi/generator: ^1.9.5,

code:
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/88394201/176729456-d36760ab-f588-4a5e-ac8b-33f8d44528fa.png">

#### Expected behavior
I want to generate html template.

[2022-07-01 11:42] magicmatatjahu commented on #802
@mathecruz Hi! As I see, error is not related to the generator. Please give us more info about error.

[2022-07-04 15:22] derberg commented on #801
@jonaslagoni @fmvilas @magicmatatjahu need your view on this one

[2022-07-05 07:41] #789 closed

[2022-07-05 07:58] magicmatatjahu commented on #801
Let's not exaggerate the fact that someone is using v12. If there are problems it will be fixed on the repository side.

About `semantic-release`: just as Jonas said, installing semantic releases deps on the workflow side can be problematic due to debugging difficulties, other problems I don't see and I like that idea.

We should make some official announcement when we wanna switch to the new appr

[2022-07-15 13:01] daniel-sc opened #803 "Typescript (Angular) generator"
#### Reason/Context
- Consuming AsyncAPI from the browser via websocket (stomp) is a common scenario. DEV experience would greatly increase if you'd provide a generator for client-stubs and models similar to the openapi generator: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/typescript-angular.md

#### Description
Implementation could follow the openapi generator f

[2022-07-16 00:00] mathecruz commented on #802
@magicmatatjahu Hi :)
<img width="876" alt="image" src="https://user-images.githubusercontent.com/88394201/179325834-788db0e9-59b8-406d-aec1-b786e576b297.png">
It is related yes... se the log

[2022-07-18 08:00] magicmatatjahu commented on #802
@mathecruz Did you install `@asyncapi/html-template` in your project, next to generator? If not, generator tries to install that package for you, but as I see, it has some problems with that (by logs I cannot see reason). You can install template by `npm i @asyncapi/html-template` and then generator will use template from local node_modules :)

Let me know if it helped :)

[2022-07-18 16:02] derberg commented on #801
Some clarification, while working on creating an issue I realised that our global PR testing workflow tests only against 14 by default. Only in generator I used `matrix` in custom PR-testing workflow. So we drop support of 12 officially only here....which might not be needed if I do what I plan with release pipeline refactor 😅

I'll keep ya posted. First the refactor of release pipeline must go th

[2022-07-18 16:34] smoya commented on #801
More kinda related issues:

- https://github.com/asyncapi/.github/issues/123
- https://github.com/asyncapi/parser-js/issues/427

[2022-07-19 15:04] derberg commented on #803
@daniel-sc

In AsyncAPI you can reference schemas provided using OpenAPI schema

So we already have https://github.com/asyncapi/modelina that generates models to TS. Just a matter of contributing missing features there. You can already use modelina in our CLI with `asyncapi generate models`

We can definitely help with writing a template for client generation, but writing it from scratch on our ow

[2022-07-21 14:29] daniel-sc opened #804 "Circular references in referenced OpenAPI broken: Error: Token "ChildObject" does not exist."
#### Describe the bug
I get the following error on running `ag asyncapi.yaml @asyncapi/html-template`:
[code]

Observation 1: When the circular refrence in `ChildObject` is removed, the generation works fine!
Observation 2: When both schemas (ChildObject, ParentObject) are defined inside `asyncapi.yaml` everything works fine as well!

#### How to Reproduce
asyncapi.yaml:
[code]

openapi.yaml:
[cod

[2022-07-21 14:39] derberg opened #805 "[📑 Docs]: Provide content for `Introduction` document"
### What Dev Docs changes are you proposing?

https://github.com/asyncapi/generator/blob/master/docs/index.md

This document should address the following topics:

- overview of what generator is (some technical input is already in the Readme of generator repo and in https://github.com/asyncapi/template-for-generator-templates)
- intro that the use of the generator makes sense only if it is used wi

[2022-07-21 14:42] derberg opened #806 "[📑 Docs]: Provide content for `AsyncAPI Specification File` document"
### What Dev Docs changes are you proposing?

https://github.com/asyncapi/generator/blob/master/docs/asyncapi-file.md- explain in short one paragraph what asyncapi specification is, no more, just one sentence and link to the spec. We assume people know, but if someone is lost, just have this sentence and link to docs
- maybe some simple example needs to be show?
- explain that AsyncAPI file can be

[2022-07-21 14:44] derberg opened #807 "[📑 Docs]: Provide content for `Parser` document"
### What Dev Docs changes are you proposing?

https://github.com/asyncapi/generator/blob/master/docs/parser.md

I'm still not 100% sure that `Parser` is a good name of the document. Maybe it should just be a part of a different document. What do you think?

Nevertheless the scope is:
- generator uses AsyncAPI JS Parser to first validate if the AsyncAPI file provided by the user follows the specifi

[2022-07-21 14:44] derberg opened #808 "[📑 Docs]: Provide content for `AsyncAPI Context` document"
### What Dev Docs changes are you proposing?

https://github.com/asyncapi/generator/blob/master/docs/asyncapi-context.md

Actually, we need to call it Template Context.

Scope, pretty much copy paste from https://github.com/asyncapi/template-for-generator-templates#asyncapi-document. Of course if you see it could be somehow improved, please do not hesitate!

Maybe what could be added is more info

[2022-07-21 14:44] derberg opened #809 "[📑 Docs]: Provide content for `Template` document"
### What Dev Docs changes are you proposing?

https://github.com/asyncapi/generator/blob/master/docs/template.md

Not sure what you think but probably it should be in structure next to `AsyncAPI Specification File` document. Why? Introduction explains generator and introduces terms like AsyncAPI file and Template, so this is why naturally I think they should be explained one after another.

So we

[2022-07-21 14:47] derberg opened #810 "[📑 Docs]: Provide new doc about installation and usage"
### What Dev Docs changes are you proposing?

We miss the following docs in current outline: Installation and Usage

What do you think, we need one, two or 3 separate docs?

Nevertheless technical input 👇🏼

## Installation

I think it makes sense to also add new document called `Installation` where we explain how to install the generator (and also update) and what are technical requirements. Bette

[2022-07-25 12:00] derberg commented on #507
@starlightknown looks like this one is ready to go, still interested?

[2022-08-11 16:20] rcollette opened #813 "Error "Cannot find module" when run from npm script."
#### Describe the bug
When trying to run ag via an npm script, an error occurs with incorrect pathing to the template module, yet the output file is generated.

Note that the node_modules folder is missing in the path.

[code]

#### How to Reproduce
In the scripts section of a package.json, add the following script

[code]

Execute the script with `npm run watch:markdown`

#### Expected behavior
I

[2022-08-12 15:55] rcollette opened #814 "Markdown: Vertical bars not "escaped" within tables."
#### Describe the bug
Given content that includes vertical bars, such as regular expressions, when rendered in a markdown table cell, the vertical bars in the content are not escaped (ex. using HTML escape characters)

#### How to Reproduce

[code]
#### Expected behavior
The vertical bars that are part of table cell content need to be "escaped", probably by using HTML encoding within a `<code>`blo

[2022-08-17 15:18] derberg commented on #813
I can confirm I was able to replicate it on node 16
This is something that requires some investigation, super weird.

[2022-08-18 21:09] BTOdell commented on #765
Should have been posted in the `asyncapi/asyncapi-react` repo.

[2022-08-18 21:09] #765 closed

[2022-08-29 14:24] Florence-Njeri commented on #810
Hey @derberg I think https://github.com/asyncapi/generator#generator-version-vs-template-version should be a separate document and then I can link it whenever I mention installing a specific version of the generator and also link it when writing about template versions.

[2022-09-05 23:14] nodify-at commented on #759
Hi,

this issue still happens if we use ts-node-dev instead of ts-node itself. This causes to the same issue.

As a workaround I did at util.js following change to test and it worked but it is tricky :)

[code]

Alternative would be to check the env. variable where ts-node sets it at star up:

[code]

@aimed @magicmatatjahu What do you think? Can we create a patch? It blocks us to use `ts-node-dev

[2022-09-06 06:49] magicmatatjahu commented on #759
@nodify-at Alternative with `env` is better. Do you wanna create PR for that? :)

[2022-09-06 09:05] magicmatatjahu opened #825 "Integrate new ParserAPI"
We should integrate new ParserAPI in Generator but with fallback compatibility with old one, solution described in the https://github.com/asyncapi/parser-js/issues/585:
- add support for new (optional!) field in template's config, `apiVersion` with possible values, `v2` and `v1` - `v1` should be default value
- integrate new `parser-js` version in generator
- add possible tests
- update docs

[2022-09-06 11:55] nodify-at commented on #759
@magicmatatjahu yes :) I will create a PR today, thanks for your feedback.

[2022-09-13 15:13] andres-JT opened #828 "Boolean defaults not working"
#### Describe the bug
I can add a default: false to a boolean property and the yaml is correct but the htmls generated is now well formed.

#### How to Reproduce
Example message property:
`urgent:
            type: boolean
            description: "Is the deadline in the next 2 weeks?"
            default: false`

- Screenshots

<img width="801" alt="image" src="https://user-images.githubuserconte

[2022-09-13 15:16] jonaslagoni commented on #618
We should yes 😄 @derberg I don't have permissions for it 🙂

[2022-09-20 09:36] nodify-at opened #836 "Replace fs.exists with fs.stats"
#### Reason/Context
fs.exists function is deprecated (see: https://nodejs.org/docs/latest-v14.x/api/fs.html#fs_fs_exists_path_callback) and it causes to unstable behaviour if used with promisify with async hooks. (see: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1185)

#### Description
We can use [fs.stat()](https://nodejs.org/docs/latest-v14.x/api/fs.html#fs_fs_stat_path_opt

[2022-09-20 10:01] magicmatatjahu commented on #836
@nodify-at Hi!

Sure, go ahead :)

[2022-09-21 12:24] nodify-at commented on #836
@magicmatatjahu I create a PR :) Thanks. (#838)

[2022-09-21 14:41] #836 closed

[2022-09-23 08:48] magicmatatjahu commented on #739
Maybe ParserJS `2.0.0` I will handle that task 😏

[2022-09-25 12:52] iamdenny opened #841 "It doesn't work with typescript v4.8.3"
#### Describe the bug
It's not working with typescript v4.7.x ~ v4.8.x

#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

Please check typescript changes.

- Screenshots
- Link to GitHub repository with project that has issues
- Files that can help reproduce the issue, like your AsyncAPI file, either paste inside the issue in a code bl

[2022-09-26 12:53] derberg commented on #507
@lumenCodes feel free 👍🏼

[2022-09-27 03:23] lumenCodes commented on #507
Done

[2022-09-27 12:10] pratik2315 commented on #809
Hey there! I'll be working on this issue for Template documentation.

[2022-09-27 12:11] pratik2315 commented on #807
Hey there! I'll be working on this issue for Parser documentation.

[2022-09-28 06:19] exDyballa opened #844 "<node14 needed, if a npm-package with generator is a dependency of in a npm package"
#### Describe the bug
We have some applications, consisting of AWS microservices build with typescript. The connections of the applications are defined by async-api specifications. We have a npm-lib providing the applications with async-api-tools. Now we wanted to use the generator and start to produce MD-documentation by a npm script. Anything went fine until we try to use the spec-lib in the app

[2022-09-29 13:55] derberg commented on #791
I stated before, there are other ways to do things with nunjucks, and we do not do more with this render engine because if investment in react

[2022-09-29 13:55] #791 closed

[2022-10-11 09:21] smoya opened #853 "Migrate package-lock.json file to version 2"
#### Reason/Context

Parser-JS [requires now](https://github.com/asyncapi/parser-js#develop) Node.js 14 and npm7 or higher.
This means `package-lock.json` version should be always set to `2`.

#### Description

In order to unify development requirements, I suggest all repositories to stick with that requirements. In order to do that, the following is needed:

- Clarify this requirement under Devel

[2022-10-11 10:34] derberg commented on #752
Still valid

[2022-10-11 10:36] derberg commented on #538
This is still valid. I'm happy to help anyone who wants to contribute it

[2022-10-11 12:27] derberg commented on #844
Hey @exDyballa , thanks but I need more details.

We test this package with node 16 and all is working well -> https://github.com/asyncapi/generator/blob/master/.github/workflows/pr-testing-with-test-project.yml#L15

I think I understand what you are doing. Basically to make sure other teams use generator and markdown-template in the sam way, you do not let them to use the library directly, but yo

[2022-10-11 12:30] derberg commented on #729
answer provided, no followup, closing

[2022-10-11 12:30] #729 closed

[2022-10-11 12:33] derberg commented on #841
@iamdenny feel free to open up PR with the fix, if it is only about bumping `typescript` dependency

[2022-10-11 12:35] #803 closed

[2022-10-11 12:38] derberg commented on #802
@mathecruz I also recommend to `npm i @asyncapi/html-template` if you use generator as library. It will also "fix" you to specific version, so it is safer.

I'll close it for now. But please feel free to leave a comment that you are not happy with the solution and I will reopen

[2022-10-11 12:38] #802 closed

[2022-10-11 12:40] derberg commented on #800
No followup, closing. Feel free to drop a comment if you want to reopen it

[2022-10-11 12:40] #800 closed

[2022-10-11 12:41] derberg commented on #794
@InfoSec812 all good?

[2022-10-11 12:43] derberg commented on #776
no follow up, closing. Feel free to leave a comment if you want to reopen and have more questions

[2022-10-11 12:43] #776 closed

[2022-10-11 12:44] InfoSec812 commented on #794
All good except for not having any time to work on this... :)

On Tue, Oct 11, 2022, 8:41 AM Lukasz Gornicki ***@***.***>
wrote:

[2022-10-11 12:50] derberg commented on #813
@rcollette Hey, we will pretty soon deprecate Generator CLI. We already enabled generator in [AsyncAPI CLI](https://github.com/asyncapi/cli)

please use CLI with AsyncAPI CLI and if there are any issues with the watcher, these should be fixed there. After CLI installation just run `asyncapi generate fromTemplate --help` to learn more.

Thanks 🙏🏼

[2022-10-11 12:50] #813 closed

[2022-10-11 12:50] derberg commented on #738
@rcollette Hey, we will pretty soon deprecate Generator CLI. We already enabled generator in [AsyncAPI CLI](https://github.com/asyncapi/cli)

please use CLI with AsyncAPI CLI and if there are any issues with the watcher, these should be fixed there. After CLI installation just run `asyncapi generate fromTemplate --help` to learn more.

Thanks 🙏🏼

[2022-10-11 12:50] #738 closed

[2022-10-11 13:16] nodify-at commented on #759
@derberg Great :) thanks!

[2022-10-11 13:35] exDyballa commented on #844
hmh we solved the issue by changing the node version not the npm-cli.

I didnt explain it good enough. I think your test doesnt fulfill the scenario.
We have one spec-repo filled with some domains containing some applications.
Each application has an async-api-file. This is hosted by a versionized npm-lib providing generated code and npm-script-cmds.

The applications have a repo using 1 version o

[2022-10-11 13:37] derberg commented on #794
@InfoSec812 welcome to the club 😆

[2022-10-11 13:49] derberg commented on #844
I don't think I fully understand

even if our testing scenario has different flow, it rungs generator on node 16 which means it works with node 16

did you have a look at https://github.com/verdaccio/verdaccio/issues/3065#issuecomment-1070979764? and the fix proposed?

where is your template located? are you using official markdown-template or something custom you have on your private npm registry

[2022-10-11 14:51] toukirkhan commented on #538
I want to contribute in this one.

[2022-10-12 06:37] exDyballa commented on #844
official md-template.
Right now the(my) knowledge is not deep enough.
I've seen the comment and understand it like case-sensitivity is the problem.
Since I made the test with the generator changing the dependencies in the packages, I thought the generator is including some packages with upper letters.

[2022-10-12 08:54] derberg commented on #538
@toukirkhan thanks ❤️ there was already one attempt to fix it but PR was discontinued. You can still have a look at it, and the comments I left there, it will give you some guidance -> https://github.com/asyncapi/generator/pull/673

[2022-10-24 13:06] jonaslagoni commented on #825
This is actually blocking templates from using the new Modelina `next` branch... At least in the general sense. I tried upgrading to the [.NET NATS template](https://github.com/asyncapi/dotnet-nats-template/blob/master/template/AsyncapiNatsClient/models/models.js) to use the new branch, but it's conflicting with the parsed AsyncAPI document not having the new parser API when using the AsyncAPI inp

[2022-11-13 08:17] Jagrutiti commented on #507
Hey,

Is this still issue open to work?

There are discussions. But no PRs.

[2022-11-13 10:04] Jagrutiti commented on #507
In the description it is written:

Could you share the link of JSDoc?

[2022-11-15 16:13] derberg commented on #507
@Jagrutiti hey, this is still valid.
JSDoc is part of the code, and then [API.md file](https://github.com/asyncapi/generator/blob/master/docs/api.md) is generated from it.

This is a return definition that needs to be more specific -> https://github.com/asyncapi/generator/blob/master/lib/generator.js#L256. and https://github.com/asyncapi/generator/blob/master/lib/generator.js#L164

so basically in

[2022-11-15 19:31] jonaslagoni commented on #507
Not really unless we want to convert the entire project into typescript 😄 So sounds good 👍

[2022-11-19 11:16] daniel-sc commented on #804
This is still an open bug.

[2022-11-21 12:11] AceTheCreator opened #868 "Adding an activity loader"
I believed the generator should have an activity loader that indicates the generator is running

I was running the generator on my windows machine, but for some reason it took time and I couldn't tell if it was actually generating or not.

[2022-11-21 12:15] magicmatatjahu commented on #868
Moving to the `cli` repo. Custom generator's cli will be deprecated.

[2022-11-29 11:13] jonaslagoni opened #873 "[Docs Bug 🐞 report]: Links in main readme files are dead"
### Describe the bug you found in AsyncAPI Docs.

There are multiple links dead in https://github.com/asyncapi/generator#cli-installation

### Attach any resources that can help us understand the issue.

None

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-29 11:42] #805 closed

[2022-11-29 11:42] derberg commented on #806
done by @Florence-Njeri https://github.com/asyncapi/generator/blob/master/docs/asyncapi-document.md

[2022-11-29 11:42] #806 closed

[2022-11-29 11:43] derberg commented on #810
done by @Florence-Njeri

- https://github.com/asyncapi/generator/blob/master/docs/installation-guide.md
- https://github.com/asyncapi/generator/blob/master/docs/usage.md

[2022-11-29 11:43] #810 closed

[2022-11-29 13:08] derberg commented on #808
solved by @Florence-Njeri

https://github.com/asyncapi/generator/blob/master/docs/template-context.md

[2022-11-29 13:08] #808 closed